<div class="wizard-modal">
	<div class="modal-dialog wizard-pf margin-10">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<span class="pficon pficon-close"></span>
				</button>
				<h4 class="modal-title" id="dfSettingsMLabel">{{'Default Settings' | translate}}</h4>
			</div>
			<form class="form-horizontal" ng-submit="setDefaultSettings()">
				<div class="modal-body inline-display full-width mb-20">
					<div ng-show="true" class="col-lg-12 mt-30">

						<div ng-if="!isModelsPage()" class="alert alert-info alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span class="pficon pficon-close"></span>
							</button>
							<span class="pficon pficon-info"></span>
							{{"The following settins can be modified later from the models page" | translate}}.
						</div>

						<div ng-if="connectivityCheckRes.valid_certificate === false" class="alert alert-warning alert-dismissable mb-10">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span class="pficon pficon-close"></span>
							</button>
							<span class="pficon pficon-warning-triangle-o"></span>
							<strong>{{"The PBX address certificate is invalid" | translate}}!</strong> {{"Configuring phones in remote networks with encryption is not possible, the phones will only be able to connect from trusted networks" | translate}}.
						</div>
						<div ng-if="connectivityCheckRes.is_reachable === false" class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span class="pficon pficon-close"></span>
							</button>
							<span class="pficon pficon-error-circle-o"></span>
							<strong>{{"The PBX address is not reachable" | translate}}!</strong> {{"Add an address reachable from localhost" | translate}}.
						</div>
					</div>
					<div class="col-lg-12 mt-30">
						<div ng-repeat="(sectionKey, section) in globalsUi">
							<!-- if is pinned section -->
							<div ng-if="sectionKey == 'pinned'" style="display: flow-root !important;">
								<div ng-repeat="item in section.data track by $index" class="col-lg-6 mb-15">
									<div class="col-lg-12">
										<!-- list -->
										<div ng-if="item.type == 'list'" class="form-group">
											<label class="control-label">{{::item.description | translate}}</label>
											<select id="default-select-{{$index}}"
												class="{{item.options.length > 10 ? 'combobox' : 'selectpicker'}} form-control"
												ng-model="defaultSettings[item.variable]" autocomplete="off">
												<option value="" ng-disabled="true" ng-hide="true">-</option>
												<!-- selectpicker -->
												<option ng-if="item.options.length <= 10" ng-repeat="option in item.options"
													value="{{option.value}}" on-finish-render="selectpickerRepeatEnd">{{::option.text | translate}}
												</option>
											</select>
										</div>
										<!-- input -->
										<div ng-if="item.type == 'input'" class="form-group {{(connectivityCheckRes.is_reachable === false) && (item.variable == 'hostname') ? 'has-error' : ''}}">
											<label class="control-label">{{::item.description | translate}}</label>
											<input type="text" id="default-select-{{$index}}" ng-change="pinnedChange(item.variable)" ng-model="defaultSettings[item.variable]"
												class="form-control">
											</input>
										</div>
									</div>
								</div>
							</div>
							<!-- if is section -->
							<div class="mt-20 globalsSectionContainer" ng-if="sectionKey != 'pinned'">
								<h2 ng-click="openSection(sectionKey)"
									class="adjust-header adjust-profile-header pl-20 ng-binding pointer">
									{{::section.name}}
									<span class="fa fa-angle-down icon-med-reload profile-open-icon"></span>
								</h2>
								<div id="collapse-section-{{$index}}"
									class="panel-collapse adjust-profile-body model-container"
									ng-if="openedSection == sectionKey">
									<div class="panel-body">
										<div ng-show="loadingSections[sectionkey]" class="spinner mt-14 mb-10"></div>
										<div ng-show="!loadingSections[sectionkey]" class="col-lg-12 mt-25 no-border-bottom">
											<div ng-repeat="item in section.data track by $index" class="col-lg-6 mb-15">
												<div class="col-lg-12">
													<!-- list -->
													<div ng-if="item.type == 'list'" class="form-group">
														<label class="control-label">{{::item.description | translate}}</label>
														<select id="default-select-{{$index}}"
															class="{{item.options.length > 10 ? 'combobox' : 'selectpicker'}} form-control"
															ng-model="defaultSettings[item.variable]" autocomplete="off">
															<option value="" ng-disabled="true" ng-hide="true">-</option>
                              <!-- combobox -->
                              <option ng-selected="defaultSettings[item.variable] == option.value"
                                ng-if="item.options.length > 10 && ($index < selectOptionsLimit || option.value == defaultSettings[item.variable])"
                                ng-repeat="option in ::item.options track by $index"
                                value="{{::option.value}}" render-index="{{$index}}" render-start="10" on-finish-render="comboboxRepeatEnd">{{::option.text | translate}}</option>
                              <!-- selectpicker -->
                              <option ng-selected="defaultSettings[item.variable] == option.value"
                                ng-if="item.options.length <= 10"
                                ng-repeat="option in ::item.options track by $index"
                                value="{{::option.value}}" on-finish-render="selectpickerRepeatEnd">{{::option.text | translate}}</option>
                              <option ng-disabled="true" ng-if="item.options.length > 10 && selectOptionsLimit < item.options.length" value="loading">{{"Loading" | translate}}...</option>
														</select>
													</div>
													<!-- input -->
													<div ng-if="item.type == 'input'" class="form-group">
														<label class="control-label">{{::item.description | translate}}</label>
                            <input 
                              type="text"
                              id="default-select-{{$index}}"
                              ng-model="defaultSettings[item.variable]"
															class="form-control">
														</input>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-if="loadingActions == true" class="spinner spinner-sm adjust-margin loader-modal fz-18"></div>
				<span ng-if="loadingActions == 'ok'" class="pficon pficon-ok adjust-margin loader-modal fz-18"></span>
				<span ng-if="loadingActions == 'err'" class="pficon pficon-error-circle-o adjust-margin loader-modal fz-18"></span>
				<div class="modal-footer submit">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{'Cancel' | translate}}</button>
					<button type="submit" ng-disabled="connectivityCheckRes.is_reachable === false" class="btn btn-primary">{{'Save' | translate}}</button>
				</div>
			</form>
		</div>
	</div>
</div>