<div class="wizard-modal">
	<div class="modal-dialog wizard-pf margin-10">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<span class="pficon pficon-close"></span>
				</button>
				<h4 class="modal-title" id="dfSettingsMLabel">{{'Firmware management' | translate}}</h4>
			</div>
			<form class="form-horizontal" ng-submit="">
				<div ng-show="defaultsLoading" class="mb-30">
					<div class="spinner"></div>
				</div>
				<div ng-show="!defaultsLoading" class="modal-body inline-display full-width">
					<div ng-show="true" class="col-lg-12">
						<!-- <div ng-if="!isModelsPage()" class="alert alert-info alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span class="pficon pficon-close"></span>
							</button>
							<span class="pficon pficon-info"></span>
							<strong>{{"The following settings can be modified later from the Models page" | translate}}.</strong>
						</div>
						<div ng-if="connectivityCheckRes && connectivityCheckRes.valid_certificate === false" class="alert alert-warning alert-dismissable mb-10">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span class="pficon pficon-close"></span>
							</button>
							<span class="pficon pficon-warning-triangle-o"></span>
							<strong>{{"The PBX address certificate is invalid" | translate}}!</strong> {{"Configuring phones in remote networks with encryption is not possible, the phones will only be able to connect from trusted networks" | translate}}.
						</div>
						<div ng-if="connectivityCheckRes && connectivityCheckRes.is_reachable === false" class="alert alert-danger alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span class="pficon pficon-close"></span>
							</button>
							<span class="pficon pficon-error-circle-o"></span>
							<strong>{{"The PBX address is not reachable" | translate}}!</strong> {{"Add an address reachable from localhost" | translate}}.
						</div>
						<div ng-if="adminPw.showAdminPwWarning === true" class="alert alert-warning alert-dismissable mb-10">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span class="pficon pficon-close"></span>
							</button>
							<span class="pficon pficon-warning-triangle-o"></span>
							<strong>{{"The admin password has been modified" | translate}}!</strong> {{"The automatic click2call function of the CTI application will not work until the next phones provisioning" | translate}}.
						</div> -->
          </div>
          <div class="col-lg-12">
            <h2>
              {{"Upload a new Firmware" | translate}}
            </h2>
						<div dropzone id="dragArea" class="dragArea {{evt.draghover ? 'dropping lh-61' : ''}}">
							<input class="hide" type="file" id="fileInput">
                {{evt.draghover ? "Drop Files here" : "Drag your file here" | translate}} <br>
								{{evt.draghover ? "" : "or" | translate}} <a ng-click="fileSelection()">{{evt.draghover ? "" : "browse" | translate}}</a> {{evt.draghover ? "" : "to upload" | translate}}
            </div>
            <ul class="filesList">
              <li class="{{loadingFiles[firmware.name] ? 'fileUploading' : 'fileUploaded'}}" ng-repeat="firmware in firmwares track by $index">
                <span class="ellipsis">
                  {{firmware.name}}
                </span>
                <span class="fw-300">
                  {{firmware.size}}
								</span>
							 	<span class="fw-600">
									<a ng-click="removeFirmware(firmware.name)">
										{{"Remove" | translate}}
									</a>
							 	</span>
              </li>
						</ul>
				</div>
				<div ng-if="loadingActions == true" class="spinner spinner-sm adjust-margin loader-modal fz-18"></div>
				<span ng-if="loadingActions == 'ok'" class="pficon pficon-ok adjust-margin loader-modal fz-18"></span>
				<span ng-if="loadingActions == 'err'" class="pficon pficon-error-circle-o adjust-margin loader-modal fz-18"></span>
				<div ng-if="!defaultsLoading" class="modal-footer submit">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{'Close' | translate}}</button>
				</div>
			</form>
		</div>
	</div>
</div>