<div ng-controller="ModelsUICtrl" class="panel-body profile-panel">
  <div class="col-lg-12 profile-list-container mb-0 no-border-bottom">
    <div ng-show="loadingModels[model.name]" class="spinner mt-14"></div>
    <div ng-show="!loadingModels[model.name]">
      <!-- start reusable parte of the ui -->
      <form id="currentModelForm">
        <!-- sections -->
        <div ng-repeat="(sectionkey, section) in currentModel.ui track by sectionkey">
          <!-- if is a key section -->
          <div class="mt-20" ng-if="isKeysSection(sectionkey) && currentModel.ui.map[sectionkey]">
            <h2 ng-click="openSection(sectionkey)" data-toggle="collapse"
              data-parent="#accordion-section-{{$index}}" href="#collapse-section-{{$index}}"
              class="adjust-header adjust-profile-header pl-20 ng-binding pointer" aria-expanded="true">
              {{::section.name}}
              <span class="fa fa-angle-down icon-med-reload profile-open-icon"></span>
            </h2>
            <div id="collapse-section-{{$index}}"
              class="panel-collapse collapse model-container adjust-profile-body"
              ng-if="currentModel.openedSection == sectionkey">
              <div class="panel-body profile-panel">
                <div class="col-lg-12 {{!isExpKeysSection(sectionkey) ? 'mt-20' : ''}} no-border-bottom">
                  <div class="col-lg-12 no-lateral-padding {{isExpKeysSection(sectionkey) ? 'padding-lateral-null' : ''}}
                      {{item.type == 'loop' ? 'mb-20' : ''}}"
                    ng-repeat="item in currentModel.ui[sectionkey].items track by $index">
                    <div ng-repeat="keys in item.data track by $index">
                      <!-- if the item type is a loop -->
                      <div ng-if="item.type == 'loop'">
                        <!-- if exp keys -->
                        <div ng-if="isExpKeysSection(sectionkey)">

                          <div class="mt-20" ng-repeat="expKeyIndex in [] | range: item.loops track by expKeyIndex">

                            <h2 ng-click="openExpKeys('expkeys-' + (expKeyIndex + 1), sectionkey)" data-toggle="collapse"
                              data-parent="#accordion-expkey-{{expKeyIndex}}" href="#collapse-expkey-{{expKeyIndex}}"
                              class="adjust-header adjust-profile-header pl-20 ng-binding pointer" aria-expanded="true">
                                {{"ExpKeys" | translate}} <spam class="weight">{{expKeyIndex + 1}}</spam>
                              <span class="fa fa-angle-down icon-med-reload profile-open-icon"></span>
                            </h2>
                            <div id="collapse-expkey-{{expKeyIndex}}"
                              class="panel-collapse collapse model-container adjust-profile-body"
                              ng-if="currentModel.openedExpKeys == ('expkeys-' + (expKeyIndex + 1))">
                              <div class="panel-body profile-panel pb-30">
                                <div class="col-lg-12 mt-20 mb-8 no-border-bottom">
                                  <div ng-if="(4 * (!currentModel.ui[sectionkey].showingExpKeys ? 1 :
                                      currentModel.ui[sectionkey].showingExpKeys)) > count"
                                    ng-repeat="count in [] | range: item.loop_end track by count">
                                    <div class="no-lateral-padding col-lg-12">
                                      <div class="col-lg-2 loop-keys-index">
                                        {{::item.description | translate}} {{count + item.loop_start}}
                                      </div>
                                      <div class="col-lg-2" ng-repeat="key in keys track by $index">
                                        <!-- list -->
                                        <div ng-if="key.type == 'list'" class="form-group">
                                          <label class="mt-10 control-label"> {{::key.description | translate}}
                                          </label>
                                          <select class="combobox form-control" autocomplete="off"
                                            name="{{key.variable}}">
                                            <option ng-if="key.options.length > 10" value="" selected="selected">{{('Select ') | translate}} {{::key.description | translate}}</option>
                                            <!-- combobox -->
                                            <option ng-if="key.options.length > 10" ng-repeat="option in key.options"
                                              value="{{option.value}}" on-finish-render="comboboxRepeatEnd">{{::option.text | translate}}</option>
                                            <!-- selectpicker -->
                                            <option ng-if="key.options.length <= 10" ng-repeat="option in key.options"
                                              value="{{option.value}}" on-finish-render="selectpickerRepeatEnd">{{::option.text | translate}}</option>
                                          </select>
                                        </div>
                                        <!-- input -->
                                        <div ng-if="key.type == 'input'" class="form-group">
                                          <label class="mt-10 control-label"> {{::key.description | translate}}
                                          </label>
                                          <input placeholder="{{'Insert ' | translate}} {{::key.description | translate}}"
                                            type="text" class="form-control">
                                          </input>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <button ng-click="!currentModel.ui[sectionkey].showingExpKeys ? currentModel.ui[sectionkey].showingExpKeys = 2 :
                                      currentModel.ui[sectionkey].showingExpKeys = currentModel.ui[sectionkey].showingExpKeys + 1"
                                    class="btn btn-default btn-lg mt-30 ml-20"
                                    ng-if="item.loop_end > (4 * (!currentModel.ui[sectionkey].showingExpKeys ? 1 :
                                      currentModel.ui[sectionkey].showingExpKeys))">
                                    {{"View more" | translate}}
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- if no exp keys -->
                        <div ng-if="!isExpKeysSection(sectionkey)">
                          <div ng-if="item.type == 'loop' && ((4 * (!currentModel.ui[sectionkey].showingKeys ? 1 :
                              currentModel.ui[sectionkey].showingKeys)) > count)"
                            ng-repeat="count in [] | range: (item.loop_end - item.loop_start + 1) track by count">
                            <div class="no-lateral-padding col-lg-12">
                              <div class="col-lg-2 loop-keys-index">
                                {{::item.description | translate}} {{count + item.loop_start}}
                              </div>
                              <div class="col-lg-2" ng-repeat="key in keys track by $index">
                                <!-- list -->
                                <div ng-if="key.type == 'list'" class="form-group">
                                  <label class="mt-10 control-label"> {{::key.description | translate}}
                                  </label>
                                  <select class="combobox form-control" autocomplete="off"
                                    name="{{key.variable}}">
                                    <option ng-if="key.options.length > 10" value="" selected="selected">{{('Select ') | translate}} {{::key.description | translate}}</option>
                                    <!-- combobox -->
                                    <option ng-if="key.options.length > 10" ng-repeat="option in key.options"
                                      value="{{option.value}}" on-finish-render="comboboxRepeatEnd">{{::option.text | translate}}</option>
                                    <!-- selectpicker -->
                                    <option ng-if="key.options.length <= 10" ng-repeat="option in key.options"
                                      value="{{option.value}}" on-finish-render="selectpickerRepeatEnd">{{::option.text | translate}}</option>
                                  </select>
                                </div>
                                <!-- input -->
                                <div ng-if="key.type == 'input'" class="form-group">
                                  <label class="mt-10 control-label"> {{::key.description | translate}}
                                  </label>
                                  <input placeholder="{{'Insert ' | translate}} {{::key.description | translate}}"
                                    type="text" class="form-control">
                                  </input>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button ng-click="!currentModel.ui[sectionkey].showingKeys ? currentModel.ui[sectionkey].showingKeys = 2 :
                          currentModel.ui[sectionkey].showingKeys = currentModel.ui[sectionkey].showingKeys + 1"
                        ng-if="item.type == 'loop' && !isExpKeysSection(sectionkey) && (item.loop_end - item.loop_start + 1) >
                          (4 * (!currentModel.ui[sectionkey].showingKeys ? 1 :
                          currentModel.ui[sectionkey].showingKeys))"
                        class="btn btn-default btn-lg mt-30 ml-20">
                        {{"View more" | translate}}
                      </button>
                      <!-- if item type is static -->
                      <div ng-if="item.type == 'static'" class="col-lg-6 mb-15"
                        ng-repeat="key in keys track by $index">
                        <!-- list -->
                        <div ng-if="key.type == 'list'" class="form-group">
                          <label class="mt-10 control-label">{{::key.description | translate}}</label>
                          <select class="combobox form-control" autocomplete="off" name="{{key.variable}}">
                            <option ng-if="key.options.length > 10" value="" selected="selected">{{('Select ') | translate}} {{::key.description | translate}}</option>
                            <!-- combobox -->
                            <option ng-if="key.options.length > 10" ng-repeat="option in key.options"
                              value="{{option.value}}" on-finish-render="comboboxRepeatEnd">{{::option.text | translate}}</option>
                            <!-- selectpicker -->
                            <option ng-if="key.options.length <= 10" ng-repeat="option in key.options"
                              value="{{option.value}}" on-finish-render="selectpickerRepeatEnd">{{::option.text | translate}}</option>
                          </select>
                        </div>
                        <!-- input -->
                        <div ng-if="key.type == 'input'" class="form-group">
                          <label class="mt-10 control-label">{{::key.description | translate}}</label>
                          <input placeholder="{{'Insert ' | translate}} {{::key.description | translate}}"
                            type="text" class="form-control">
                          </input>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- if isn't a key section -->
          <div class="mt-20" ng-if="!isKeysSection(sectionkey) && ($index > 0)">
            <h2 ng-click="openSection(sectionkey)" data-toggle="collapse"
              data-parent="#accordion-section-{{$index}}" href="#collapse-section-{{$index}}"
              class="adjust-header adjust-profile-header pl-20 ng-binding pointer" aria-expanded="true">
              {{::section.name}}
              <span class="fa fa-angle-down icon-med-reload profile-open-icon"></span>
            </h2>
            <div id="collapse-section-{{$index}}"
              class="panel-collapse collapse adjust-profile-body model-container"
              ng-if="currentModel.openedSection == sectionkey">
              <div class="panel-body">
                <div ng-show="currentModel.loadingSections[sectionkey]" class="spinner mt-14 mb-10"></div>
                <div ng-show="!currentModel.loadingSections[sectionkey]" class="col-lg-12 mt-25 no-border-bottom">
                  <div ng-if="!currentModel.ui.map.hidden_variables.includes(item.variable)"
                    ng-repeat="item in currentModel.ui[sectionkey].items track by item.variable"
                    class="col-lg-6 mb-15">
                    <!-- list -->
                    <div ng-if="item.type == 'list'" class="form-group">
                      <label class="control-label">{{::item.description | translate}}</label>
                      <select class="combobox form-control" autocomplete="off" name="{{item.variable}}">
                        <option ng-if="item.options.length > 10" value="" selected="selected">{{('Select ') | translate}} {{::item.description | translate}}</option>
                        <!-- combobox -->
                        <option ng-if="item.options.length > 10" ng-repeat="option in item.options"
                          value="{{option.value}}" on-finish-render="comboboxRepeatEnd">{{::option.text | translate}}</option>
                        <!-- selectpicker -->
                        <option ng-if="item.options.length <= 10" ng-repeat="option in item.options"
                          value="{{option.value}}" on-finish-render="selectpickerRepeatEnd">{{::option.text | translate}}</option>
                      </select>
                    </div>
                    <!-- input -->
                    <div ng-if="item.type == 'input'" class="form-group">
                      <label class="control-label">{{::item.description | translate}}</label>
                      <input placeholder="{{'Insert ' | translate}} {{::item.description | translate}}"
                        type="text" class="form-control">
                      </input>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <button ng-show="!loadingModels[model.name]" ng-click="resetModel(model)"
    class="btn btn-primary btn-lg profile-button-save mb-10 mt-30" type="submit">
    {{'Save' | translate}}
  </button>
  <button ng-show="!loadingModels[model.name]" ng-click="resetModel(model)"
    class="btn btn-default btn-lg profile-button-save mb-10 mt-30" type="submit">
    {{'Reset' | translate}}
  </button>
</div>
