<div ng-controller="ModelsUICtrl" class="panel-body profile-panel">
  <div class="col-lg-12 profile-list-container mb-0 no-border-bottom">
    <div ng-show="loadingModels[model.name]" class="spinner mt-14"></div>
    <div ng-show="!loadingModels[model.name]">
      <!-- start reusable parte of the ui -->
      <form id="currentModelForm">
        <!-- sections -->
        <div ng-repeat="(sectionkey, section) in currentModel.ui track by sectionkey">
          <!-- if is a key section -->
          <div class="mt-20" ng-if="isKeysSection(sectionkey) && currentModel.ui.map[sectionkey]">
            <h2 ng-click="openSection(sectionkey)"
              class="adjust-header adjust-profile-header pl-20 ng-binding pointer">
              {{::section.name}}
              <span class="fa fa-angle-down icon-med-reload profile-open-icon"></span>
            </h2>
            <div id="collapse-section-{{$index}}"
              class="panel-collapse model-container adjust-profile-body"
              ng-if="currentModel.openedSection == sectionkey">
              <div class="panel-body profile-panel">
                <div class="col-lg-12 {{!isExpKeysSection(sectionkey) ? 'mt-20' : ''}} no-border-bottom">
                  <div class="col-lg-12 no-lateral-padding {{isExpKeysSection(sectionkey) ? 'padding-lateral-null' : ''}}
                      {{item.type == 'loop' ? 'mb-20' : ''}}"
                    ng-repeat="item in currentModel.ui[sectionkey].items track by $index">
                    <div ng-repeat="keys in item.data track by $index">
                      <!-- if the item type is a loop -->
                      <div ng-if="item.type == 'loop'">
                        <!-- if exp keys -->
                        <div ng-if="isExpKeysSection(sectionkey)">
                          <div class="mt-20" ng-repeat="expKeyIndex in [] | range: item.loops track by expKeyIndex">
                            <h2 ng-click="openExpKeys('expkeys-' + (expKeyIndex + 1), sectionkey)"
                              class="adjust-header adjust-profile-header pl-20 ng-binding pointer">
                                {{"ExpKeys" | translate}} <spam class="weight">{{expKeyIndex + 1}}</spam>
                              <span class="fa fa-angle-down icon-med-reload profile-open-icon"></span>
                            </h2>
                            <div id="collapse-expkey-{{expKeyIndex}}"
                              class="panel-collapse model-container adjust-profile-body"
                              ng-if="currentModel.openedExpKeys == ('expkeys-' + (expKeyIndex + 1))">
                              <div class="panel-body profile-panel pb-30">
                                <div class="col-lg-12 mt-20 mb-8 no-border-bottom">
                                  <div ng-if="(4 * (!currentModel.ui[sectionkey].showingExpKeys ? 1 :
                                      currentModel.ui[sectionkey].showingExpKeys)) > count"
                                    ng-repeat="count in [] | range: item.loop_end track by count">
                                    <div class="no-lateral-padding col-lg-12">
                                      <div class="col-lg-2 loop-keys-index">
                                        {{::item.description | translate}} {{count + item.loop_start}}
                                      </div>
                                      <div class="col-lg-2" ng-repeat="key in keys track by $index">
                                        <!-- list -->
                                        <div ng-if="key.type == 'list'" class="form-group">
                                          <label class="mt-10 control-label"> {{::key.description | translate}}
                                          </label>
                                          <div class="hidden">
                                            <select
                                              id="{{sectionkey}}-select-{{count+1}}-{{$index+1}}"
                                              ng-model="currentModel.variables['exp' + (expKeyIndex + 1) + key.variable + (count + item.loop_start)]"
                                              ng-change="onVariableChanged('exp' + (expKeyIndex + 1) + key.variable + (count + item.loop_start))"
                                              class="{{key.options.length > 10 ? 'combobox' : 'selectpicker'}} form-control"
                                              autocomplete="off"
                                              name="{{key.variable}}">
                                              <option value="">{{currentModel.globals[key.variable] ? getOptionText(key.options, currentModel.globals[key.variable]) + " (default)" : "-"}}</option>
                                              <!-- combobox -->
                                              <option ng-if="key.options.length > 10" ng-repeat="option in key.options"
                                                value="{{option.value}}" on-finish-render="comboboxRepeatEnd">{{::option.text | translate}}</option>
                                              <!-- selectpicker -->
                                              <option ng-if="key.options.length <= 10" ng-repeat="option in key.options"
                                                value="{{option.value}}" on-finish-render="selectpickerRepeatEnd">{{::option.text | translate}}</option>
                                            </select>
                                          </div>
                                        </div>
                                        <!-- input -->
                                        <div ng-if="key.type == 'input'" class="form-group">
                                          <label class="mt-10 control-label"> {{::key.description | translate}}
                                          </label>
                                          <input
                                            id="{{sectionkey}}-input-{{count+1}}-{{$index+1}}"
                                            ng-model="currentModel.variables['exp' + (expKeyIndex + 1) + key.variable + (count + item.loop_start)]"
                                            ng-change="onVariableChanged('exp' + (expKeyIndex + 1) + key.variable + (count + item.loop_start))"
                                            placeholder="{{currentModel.globals[key.variable] ? currentModel.globals[key.variable] + ' (default)' : ''}}"
                                            type="text" class="form-control">
                                          </input>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <button 
                                    ng-click="!currentModel.ui[sectionkey].showingExpKeys ? currentModel.ui[sectionkey].showingExpKeys = 2 :
                                      currentModel.ui[sectionkey].showingExpKeys = currentModel.ui[sectionkey].showingExpKeys + 1"
                                    class="btn btn-default btn-lg mt-30 ml-20"
                                    ng-if="item.loop_end > (4 * (!currentModel.ui[sectionkey].showingExpKeys ? 1 :
                                      currentModel.ui[sectionkey].showingExpKeys))">
                                    {{"View more" | translate}}
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- if no exp keys -->
                        <div ng-if="!isExpKeysSection(sectionkey)">
                          <div ng-if="item.type == 'loop' && ((4 * (!currentModel.ui[sectionkey].showingKeys ? 1 :
                              currentModel.ui[sectionkey].showingKeys)) > count)"
                            ng-repeat="count in [] | range: (item.loop_end - item.loop_start + 1) track by count">
                            <div class="no-lateral-padding col-lg-12">
                              <div class="col-lg-2 loop-keys-index">
                                {{::item.description | translate}} {{count + item.loop_start}}
                              </div>
                              <div class="col-lg-2" ng-repeat="key in keys track by $index">
                                <!-- list -->
                                <div ng-if="key.type == 'list'" class="form-group">
                                  <label class="mt-10 control-label"> {{::key.description | translate}}
                                  </label>
                                  <div class="hidden">
                                    <select
                                      id="{{sectionkey}}-select-{{count+1}}-{{$index+1}}"
                                      class="{{key.options.length > 10 ? 'combobox' : 'selectpicker'}} form-control"
                                      ng-model="currentModel.variables[key.variable + (count + item.loop_start)]"
                                      ng-change="onVariableChanged(key.variable + (count + item.loop_start))"
                                      autocomplete="off"
                                      name="{{key.variable}}">
                                      <option value="">{{currentModel.globals[key.variable] ? getOptionText(key.options, currentModel.globals[key.variable]) + " (default)" : "-"}}</option>
                                      <!-- combobox -->
                                      <option ng-if="key.options.length > 10" ng-repeat="option in key.options"
                                        value="{{option.value}}" on-finish-render="comboboxRepeatEnd">{{::option.text | translate}}</option>
                                      <!-- selectpicker -->
                                      <option ng-if="key.options.length <= 10" ng-repeat="option in key.options"
                                        value="{{option.value}}" on-finish-render="selectpickerRepeatEnd">{{::option.text | translate}}</option>
                                    </select>
                                  </div>
                                </div>
                                <!-- input -->
                                <div ng-if="key.type == 'input'" class="form-group">
                                  <label class="mt-10 control-label"> {{::key.description | translate}}
                                  </label>
                                  <input
                                    id="{{sectionkey}}-input-{{count+1}}-{{$index+1}}"
                                    ng-model="currentModel.variables[key.variable + (count + item.loop_start)]"
                                    ng-change="onVariableChanged(key.variable + (count + item.loop_start))"
                                    placeholder="{{currentModel.globals[key.variable] ? currentModel.globals[key.variable] + ' (default)' : ''}}"
                                    type="text"
                                    class="form-control">
                                  </input>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button ng-click="!currentModel.ui[sectionkey].showingKeys ? currentModel.ui[sectionkey].showingKeys = 2 :
                          currentModel.ui[sectionkey].showingKeys = currentModel.ui[sectionkey].showingKeys + 1"
                        ng-if="item.type == 'loop' && !isExpKeysSection(sectionkey) && (item.loop_end - item.loop_start + 1) >
                          (4 * (!currentModel.ui[sectionkey].showingKeys ? 1 :
                          currentModel.ui[sectionkey].showingKeys))"
                        class="btn btn-default btn-lg mt-30 ml-20">
                        {{"View more" | translate}}
                      </button>
                      <!-- if item type is static -->
                      <div ng-if="item.type == 'static'" class="col-lg-6 mb-15"
                        ng-repeat="key in keys track by $index">
                        <!-- list -->
                        <div ng-if="key.type == 'list'" class="form-group">
                          <label class="mt-10 control-label">{{::key.description | translate}}</label>
                          <div class="hidden">
                            <select
                              id="{{sectionkey}}-select-{{$index+1}}"
                              ng-model="currentModel.variables[key.variable]"
                              ng-change="onVariableChanged(key.variable)"
                              class="{{key.options.length > 10 ? 'combobox' : 'selectpicker'}} form-control"
                              autocomplete="off">
                              <option value="">{{currentModel.globals[key.variable] ? getOptionText(key.options, currentModel.globals[key.variable]) + " (default)" : "-"}}</option>
                              <!-- combobox -->
                              <option ng-if="key.options.length > 10" ng-repeat="option in key.options"
                                value="{{option.value}}" on-finish-render="comboboxRepeatEnd">{{::option.text | translate}}</option>
                              <!-- selectpicker -->
                              <option ng-if="key.options.length <= 10" ng-repeat="option in key.options"
                                value="{{option.value}}" on-finish-render="selectpickerRepeatEnd">{{::option.text | translate}}</option>
                            </select>
                          </div>
                        </div>
                        <!-- input -->
                        <div ng-if="key.type == 'input'" class="form-group">
                          <label class="mt-10 control-label">{{::key.description | translate}}</label>
                          <input
                            id="{{sectionkey}}-input-{{$index+1}}"
                            ng-model="currentModel.variables[key.variable]"
                            ng-change="onVariableChanged(key.variable)"
                            placeholder="{{currentModel.globals[key.variable] ? currentModel.globals[key.variable] + ' (default)' : ''}}"
                            type="text"
                            class="form-control">
                          </input>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- if isn't a key section -->
          <div class="mt-20" ng-if="!isKeysSection(sectionkey) && ($index > 0)">
            <h2 ng-click="openSection(sectionkey)"
              class="adjust-header adjust-profile-header pl-20 ng-binding pointer">
              {{::section.name}}
              <span class="fa fa-angle-down icon-med-reload profile-open-icon"></span>
            </h2>
            <div id="collapse-section-{{$index}}"
              class="panel-collapse adjust-profile-body model-container"
              ng-if="currentModel.openedSection == sectionkey">
              <div class="panel-body">
                <div ng-show="currentModel.loadingSections[sectionkey]" class="spinner mt-14 mb-10"></div>
                <div ng-show="!currentModel.loadingSections[sectionkey]" class="col-lg-12 mt-25 no-border-bottom">
                  <div ng-if="!currentModel.ui.map.hidden_variables.includes(item.variable)"
                    ng-repeat="item in currentModel.ui[sectionkey].items track by item.variable"
                    class="col-lg-6 mb-15">
                    <!-- list -->
                    <div ng-if="item.type == 'list'" class="form-group">
                      <label class="control-label">{{::item.description | translate}} {{item.variable}}</label>
                      <div class="hidden">
                        <select
                          id="{{sectionkey}}-select-{{$index}}"
                          class="{{item.options.length > 10 ? 'combobox' : 'selectpicker'}} form-control"
                          ng-model="currentModel.variables[item.variable]"
                          ng-change="onVariableChanged(item.variable)"
                          autocomplete="off">
                          <option value="">{{currentModel.globals[item.variable] ? getOptionText(item.options, currentModel.globals[item.variable]) + " (default)" : "-"}}</option>
                          <!-- combobox -->
                          <option ng-if="item.options.length > 10" ng-repeat="option in item.options"
                            value="{{option.value}}" on-finish-render="comboboxRepeatEnd">{{::option.text | translate}}</option>
                          <!-- selectpicker -->
                          <option ng-if="item.options.length <= 10" ng-repeat="option in item.options"
                            value="{{option.value}}" on-finish-render="selectpickerRepeatEnd">{{::option.text | translate}}</option>
                        </select>
                      </div>
                    </div>
                    <!-- input -->
                    <div ng-if="item.type == 'input'" class="form-group">
                      <label class="control-label">{{::item.description | translate}}</label>
                      <input 
                        id="{{sectionkey}}-input-{{$index}}"
                        ng-model="currentModel.variables[item.variable]"
                        ng-change="onVariableChanged(item.variable)"
                        placeholder="{{currentModel.globals[item.variable] ? currentModel.globals[item.variable] + ' (default)' : ''}}"
                        type="text"
                        class="form-control">
                      </input>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <button ng-show="!loadingModels[model.name]" ng-click="showModal('saveChangesConfirm')"
    class="btn btn-primary btn-lg profile-button-save mb-10 mt-30" type="submit">
    {{'Save' | translate}}
  </button>
  <div ng-show="!loadingModels[model.name]" class="dropdown profile-button-save mb-10 mt-30">
    <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      {{'More actions' | translate}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation">
        <a ng-click="openActionModal('cancel')" role="menuitem">
          Annulla le modifiche
        </a>
      </li>
      <li role="presentation">
        <a ng-click="openActionModal('reset')">
          Ripristina i valori originali
        </a>
      </li>
      <li role="presentation" class="divider"></li>
      <li role="presentation" class="red-colored">
        <a ng-click="openActionModal('delete')" role="menuitem">
          {{"Delete" | translate}}
        </a>
      </li>
    </ul>
  </div>

  <!-- save modal -->
  <div class="modal fade" id="saveChangesConfirm" tabindex="-1" role="dialog" aria-labelledby="saveChangesConfirm"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="pficon pficon-close"></span>
          </button>
          <h4 class="modal-title" id="nModelMLabel">{{"Save changes" | translate}}</h4>
        </div>
        <form class="form-horizontal mt-10" ng-submit="saveCurrentModel()">
          <div class="modal-body">
            <div ng-if="modelErrors.updateReadOnlyAttribute" class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span class="pficon pficon-close"></span>
              </button>
              <span class="pficon pficon-error-circle-o"></span>
              <strong>{{modelErrors.updateReadOnlyAttribute | translate}}</strong>.
            </div>
            <div class="alert alert-warning">
              <span class="pficon pficon-warning-triangle-o"></span>
              <strong>
                {{"Changes on the current model will be saved" | translate}}.
              </strong>
              <p>
                {{"Are you sure" | translate}}?
              </p>
            </div>
          </div>
          <div ng-if="loadingAction == true" class="spinner spinner-sm adjust-margin loader-modal fz-18"></div>
          <span ng-if="loadingAction == 'ok'" class="pficon pficon-ok adjust-margin loader-modal fz-18"></span>
          <span ng-if="loadingAction == 'err'" class="pficon pficon-error-circle-o adjust-margin loader-modal fz-18"></span>
          <div class="modal-footer submit">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{'Cancel' | translate}}</button>
            <button type="submit" class="btn btn-primary">{{'Save' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- actions modal cancel, restore, delete -->
  <div class="modal fade" id="actionsModal" tabindex="-1" role="dialog" aria-labelledby="actionsModal"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="pficon pficon-close"></span>
          </button>
          <h4 ng-if="selectedAction == 'cancel'" class="modal-title" id="nModelMLabel">
            {{"Cancel changes" | translate}}
          </h4>
          <h4 ng-if="selectedAction == 'reset'" class="modal-title" id="nModelMLabel">
            {{"Reset changes" | translate}}
          </h4>
          <h4 ng-if="selectedAction == 'delete'" class="modal-title" id="nModelMLabel">
            {{"Delete changes" | translate}}
          </h4>
        </div>
        <form class="form-horizontal mt-10"
          ng-submit="selectedAction == 'cancel' ? cancelChanges() :
          selectedAction == 'reset' ? resetChanges() :
          selectedAction == 'delete' ? deleteModel() : ''">
          <div class="modal-body">
            <div ng-if="modelErrors.updateReadOnlyAttribute || modelErrors.resetChangesNotFound" class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span class="pficon pficon-close"></span>
              </button>
              <span class="pficon pficon-error-circle-o"></span>
              <strong>{{modelErrors.updateReadOnlyAttribute || modelErrors.resetChangesNotFound | translate}}</strong>.
            </div>
            <div class="alert alert-warning alert-dismissable">
              <span class="pficon pficon-warning-triangle-o"></span>
              <strong ng-if="selectedAction == 'cancel'">
                {{"Changes on the current model will be canceled" | translate}}.
              </strong>
              <strong ng-if="selectedAction == 'reset'">
                {{"Changes on the current model will be reset" | translate}}.
              </strong>
              <strong ng-if="selectedAction == 'delete'">
                {{"Changes on the current model will be deleted" | translate}}.
              </strong>
              <p>
                {{"Are you sure" | translate}}?
              </p>
            </div>
          </div>
          <div ng-if="loadingAction == true" class="spinner spinner-sm adjust-margin loader-modal fz-18"></div>
          <span ng-if="loadingAction == 'ok'" class="pficon pficon-ok adjust-margin loader-modal fz-18"></span>
          <span ng-if="loadingAction == 'err'" class="pficon pficon-error-circle-o adjust-margin loader-modal fz-18"></span>
          <div class="modal-footer submit">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{'Cancel' | translate}}</button>
            <button type="submit" class="btn btn-primary">{{'Continue' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
