body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-size: 100% auto !important;
  display: none;
  overflow: hidden;
}

span a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

span p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  display: inline;
}

.full-height {
  height: 100%;
}

p {
  margin: 0;
}

a {
  cursor: pointer;
}


/* VERTICAL NAVBAR */

.panel {
  background-color: #282828;
}

.nav-pf-vertical-alt {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}

.nav-pf-vertical-alt .list-group-item .badge {
  border-radius: 0;
  font-size: 11px;
}

.layout-pf-alt-fixed .nav-pf-vertical-alt {
  width: 185px;
  background: #282828;
  border-right: 0;
  z-index: 999;
}

.nav-pf-vertical-alt .list-group-item {
  background: #282828;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.nav-pf-vertical-alt .list-group-item a {
  color: #cfcfcf;
}

.nav-pf-vertical-alt .list-group-item a:hover {
  color: #cfcfcf;
}

.nav-pf-vertical-alt .list-group-item:hover {
  background: #404040;
}

.nav-pf-vertical-alt .list-group-item.active {
  background: #404040;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: -1px;
}

.nav-pf-vertical-alt .list-group-item.active a {
  color: #fff;
}


/*********/


/* CONTENT */

.container-fluid {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.layout-pf-alt.layout-pf-alt-fixed .container-pf-alt-nav-pf-vertical-alt {
  margin-left: 185px;
}

.layout-pf-alt.layout-pf-alt-fixed.layout-pf-alt-fixed-inner-scroll .container-pf-alt-nav-pf-vertical-alt.container-cards-pf {
  padding: 12px;
  overflow-x: hidden;
}

.pageLoader {
  z-index: 9999;
  top: 50%;
}

.navbar-brand-icon {
  height: 30px;
}


/**************/


/* FOOTER */

.footer-opt {
  margin-left: 8px;
  display: inline-block;
}

.footer-opt-right {
  margin-right: 8px;
  float: right;
}

.layout-pf-alt-fixed-with-footer .footer-pf-alt {
  background: #171717;
  color: #CFCFCF;
  line-height: 27px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-pf-footer {
  padding: 15px 20px;
}

.list-header {
  margin-top: 0;
  margin-bottom: -30px;
}

.list-gateway:last-child {
  margin-bottom: 86px;
}

.list-item-header {
  background: #f5f5f5;
  border: none;
  border-top: none !important;
}

.list-item-header:hover {
  background: #f5f5f5 !important;
}


/**************/


/* LANGUAGE */

.navbar-pf-alt .infotip.bottom-right .arrow {
  left: 92%;
}

.change-language {
  cursor: pointer;
  margin-left: 15px !important;
}

.change-language:hover {
  background: #d5ecf9;
}

.language-name {
  margin-left: 12px;
}


/***********/


/* WIZARD */

.no-border {
  border: none;
}

.no-top-pad {
  padding-top: 0px !important;
}

.blank-slate-pf {
  border: none;
}

.btn-lgg, .btn-group-lgg>.btn {
  padding: 6px 10px;
  font-size: 20px;
  margin-right: 20px;
  line-height: 1.3333333;
  border-radius: 1px;
}

.wizard-pf {
  height: 100%;
  margin: 0 auto;
  max-height: 900px;
  padding: 0px;
  width: auto;
}

.wizard-pf-steps-indicator {
  padding: 25px 0px;
  margin-bottom: 0px;
}

.wizard-pf-footer {
  z-index: 998;
  background: #f5f5f5;
}

.adjust-header {
  margin-top: 0px;
}

@media screen and (min-width: 1440px) {
  .adjust-link {}
}

@media screen and (max-width: 1440px) {
  .adjust-link {
    width: 100%;
    margin-top: -4px !important;
    margin-left: 40px;
  }
}

@media screen and (min-width: 992px) {
  .adjust-search {
    margin-top: 5px;
    padding-right: 25px;
  }
  .adjust-body-gateway {
    display: table-cell;
  }
  .adjust-info-gateway {
    clear: both;
    margin-left: 20%;
  }
}

@media screen and (max-width: 991px) {
  .adjust-search {
    margin-top: 5px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 5px;
  }
  .adjust-header {
    margin-bottom: 4px;
  }
  .adjust-info-gateway {
    clear: both;
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .wizard-pf-footer {
    margin-left: 185px;
    padding-left: 12px;
    bottom: 30px;
  }
  .right-button {
    float: right;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .big-margin-top {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .wizard-pf-footer {
    margin-left: 76px;
    padding-left: 12px;
    bottom: 30px;
  }
  .right-button {
    float: right;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .config-adjust-size-gateway {
    margin-bottom: 54px;
    margin-top: -54px;
  }
}

@media screen and (min-width: 768px) {
  .progress {
    margin-bottom: 0px;
    margin-top: 3px;
  }
  .adjust-size {
    margin-top: 16px;
    padding-right: 95px;
    padding-left: 95px;
    margin-bottom: 40px;
  }
  .config-title-icon-adjust {
    margin-left: 23px;
  }
  .adjust-voip {
    margin-top: 8px;
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 767px) {
  .wizard-pf-footer {
    margin-left: 1px;
    padding-left: 12px;
    bottom: 28px;
  }
  .progress {
    margin-bottom: 8px;
    margin-top: 3px;
  }
  .adjust-size {
    margin-top: 16px;
    margin-bottom: 70px;
  }
  .right-button {
    float: right;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .handle-margin {
    margin-top: 10px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .no-padding {
    padding-left: 0px;
    padding-right: 0px;
  }
  .adjust-search {
    margin-top: 5px;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 8px;
  }
  .adjust-header {
    margin-bottom: 4px;
  }
  .config-adjust-size-gateway {
    margin-bottom: 30px;
    margin-top: -54px;
  }
  .config-title-icon-adjust {
    margin-left: 0px;
  }
  .adjust-voip {
    margin-top: 8px;
    margin-bottom: 65px;
  }
}

.list-view-pf .list-group-item {
  border-color: transparent #f5f5f5;
  cursor: pointer;
}

.list-view-pf .list-group-item:first-child {
  border-top: none;
}

.list-view-pf-additional-info {
  width: initial;
}

.list-view-pf-main-info {
  padding-bottom: 16px;
  padding-top: 16px;
}

.list-view-pf-actions {
  margin-top: 16px;
  margin-bottom: 16px;
}

.list-view-pf .list-group-item-text {
  color: inherit;
}

@media (min-width: 992px) {
  .list-view-pf .list-group-item-text {
    width: calc(75% - 80px);
  }
}

.progress-content {
  margin-top: 40px;
}

.progress-description {
  text-align: left;
  max-width: 80%;
}

.list-view-pf .list-group-item-heading {
  flex: 1 0 calc(40% - 20px);
}

.selected {
  background: #d5ecf9;
}

.config-view-container {
  margin-top: 0px;
  overflow-y: auto;
  max-height: 315px;
  background-color: #fff;
}

.config-spinner {
  float: right;
  margin-top: 4px;
  margin-left: 12px;
}

.config-item {
  height: 50px;
}

.config-info {
  display: block;
}

.config-adjust-size {
  margin-bottom: 20px;
}

.config-span {
  margin-right: 8px;
  font-size: 14px;
}

.config-span-container {
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
}

.config-row {
  margin-top: 16px;
}

.config-bottom {
  margin-bottom: 16px;
}

.config-bottom:last-child {
  margin-bottom: 0px;
}

.config-form-gateway {
  margin-bottom: 55px;
}

.config-button-list {
  text-align: right;
  background: #f5f5f5;
  padding-top: 8px;
  margin-bottom: -12px;
}

.config-gateway-footer {
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 30px;
}

@media screen and (max-width: 990px) {
  .config-form {
    margin-left: -10px;
  }
}

.adjust-alert {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.adjust-alert-gateway {
  margin-top: 30px;
  margin-bottom: 0px;
}

.config-title-icon {
  font-size: 18px;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 12px;
}

.config-title-icon-adjust {
  font-size: 18px;
  margin-right: 18px;
  margin-top: 12px;
}

.config-title-user {
  margin-bottom: 11px;
}

.config-list-item-right {
  padding-bottom: 10px;
  padding-top: 10px;
}

.weight {
  font-weight: 500;
}

.weight-dest {
  font-weight: 700;
  line-height: 1px;
}

@media screen and (max-width: 1557px) {
  .weight-gateway {
    display: block;
    margin-left: 56px;
    margin-top: 6px;
  }
  .adjust-search-gateway {
    margin-top: 22px;
  }
}

@media screen and (max-width: 1200px) {
  .weight-gateway {
    display: initial;
    margin-left: initial;
    margin-top: initial;
  }
  .adjust-search-gateway {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1800px) {
  .adjust-body-gateway {
    display: inherit;
  }
  .adjust-info-gateway {
    margin-left: initial;
  }
}

.medium-font {
  font-size: 18px;
}


/**********/


/* ICON */

.icon-med {
  font-size: 16px;
  line-height: 24px;
}

.adjust-margin {
  margin-left: -1px;
  margin-top: -2px;
}

.adjust-bottom {
  margin-bottom: 12px;
}

.adjust-button {
  margin-left: -1px;
}

.adjust-icon {
  font-size: 22px !important;
}

.adjust-model-gateway {
  margin-left: 14px;
}

.adjust-badge {
  right: 38px !important;
}

.adjust-panel-body:first-child {
  border-top: 2px solid #000 !important;
}
.adjust-panel-body:last-child {
  border-bottom: 2px solid #000 !important;
}

.adjust-panel-body {
  color: #fff;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 14px;
  border-top: 1px solid #000 !important;
}

.menu-item-left {
  cursor: pointer;
  padding-left: 25px !important;
  padding-top: 10px !important;
}

.menu-item-left:hover {
  background: #404040;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.right-align {
  float: right;
  min-width: 65px;
}

.right-only {
  float: right;
}

.left {
  text-align: left;
}

.spinner-right {
  float: right;
  margin-top: 6px;
}

.icon-right {
  float: right;
  margin-top: 7px;
  font-size: 16px;
}

.loader-modal {
  float: right;
  margin-right: 30px;
  margin-top: -6px;
}

.loader-modal-gateway {
  float: right;
  margin-right: 15px;
  margin-top: 0px;
}

.loader-modal-gateway-not-form {
  float: right;
  margin-right: 0px;
  margin-top: 3px;
  margin-left: 8px;
}

.disabled {
  color: #999 !important;
}

.adjust-line {
  font: inherit;
  font-size: 14px !important;
  line-height: 26px !important;
}

.adjust-list {
  flex: initial;
  width: 60%;
}

.adjust-form {
  margin-top: 12px
}

.card-pf-view .card-pf-top-element .card-pf-icon-circle {
  border: 2px solid #39a5dc;
  font-size: 18px;
  height: 40px;
  line-height: 36px;
  width: 40px;
}

.adjust-card {
  margin-top: 20px;
}


/**********/

.generic-error {
  position: absolute;
  top: 72px;
  right: 12px;
}
