<div class="wizard-pf">
  <div class="wizard-pf-body clearfix">
    <div class="wizard-pf-steps">
      <ul class="wizard-pf-steps-indicator">
        <li class="wizard-pf-step {{resolveActiveTab('extensions',2) ? 'active' : ''}}" data-tabgroup="1">
          <a ng-click="goTo('users/extensions')"><span class="wizard-pf-step-number">1</span><span class="wizard-pf-step-title">{{'Extensions' | translate}}</span></a>
        </li>
        <li class="wizard-pf-step {{resolveActiveTab('devices',2) ? 'active' : ''}}" data-tabgroup="2">
          <a ng-click="goTo('users/devices')"><span class="wizard-pf-step-number">2</span><span class="wizard-pf-step-title">{{'Devices' | translate}}</span></a>
        </li>
        <li class="wizard-pf-step {{resolveActiveTab('configurations',2) ? 'active' : ''}}" data-tabgroup="3">
          <a ng-click="goTo('users/configurations')"><span class="wizard-pf-step-number">3</span><span class="wizard-pf-step-title">{{'Configurations' | translate}}</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="wizard-pf-contents adjust-size row">
    <h1 class="control-label centered" for="textInput-markup">{{'Final configurations' | translate}}</h1>
    <div ng-if="!(users | isEmpty)" class="container-fluid col-lg-5 col-md-6 col-sm-6 col-xs-12">
      <div class="list-group list-view-pf list-view-pf-view list-header">
        <div class="list-group-item list-item-header">
          <div class="list-view-pf-main-info">
            <div class="list-view-pf-left">
              <span class="fa fa-usera list-view-pf-icon-sm adjust-line">{{users.length}}</span>
            </div>
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading">
                  {{'Username' | translate}}
                </div>
                <div class="list-group-item-text">
                  {{'Fullname' | translate}}
                </div>
              </div>
              <div class="list-view-pf-additional-info">
                <div class="list-view-pf-additional-info-item">
                  <label>{{'Extension'}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group list-view-pf list-view-pf-view">
        <div class="list-group-item {{selectedUser.id == user.id ? 'selected' : ''}}" ng-repeat="user in users" ng-click="selectUser(user.id)">
          <div class="list-view-pf-main-info">
            <div class="list-view-pf-left">
              <span class="fa fa-user list-view-pf-icon-sm {{user.default_extension === 'none' ? 'disabled' : ''}}"></span>
            </div>
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading {{user.default_extension === 'none' ? 'disabled' : ''}}">
                  {{user.username}}
                </div>
                <div class="list-group-item-text">
                  <span class="{{user.default_extension === 'none' ? 'disabled' : ''}}">{{user.displayname}} <span ng-if="user.description">{{user.description}}</span></span>
                </div>
              </div>
              <div class="list-view-pf-additional-info">
                {{user.default_extension}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12 config-adjust-size">
      <h1 class="control-label centered" for="textInput-markup">{{selectedUser.displayname}} {{selectedUser.default_extension}}</h1>
      <h4 class="control-label left" for="textInput-markup">{{'Devices' | translate}}</h4>
      <div ng-if="!(devices | isEmpty)" class="container-fluid">
        <div class="list-group list-view-pf list-view-pf-view config-view-container">
          <div class="list-group-item" ng-repeat="device in devices | orderBy: ['manufacturer','model']">
            <div class="list-view-pf-actions">
              <button ng-click="setPhysicalExtension(selectedUser)" type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false">{{'Link' | translate}}</button>
              <div ng-show="selectedUser.isInAction" class="spinner spinner-sm config-spinner"></div>
            </div>
            <div class="list-view-pf-main-info">
              <div class="list-view-pf-left">
                <span class="fa fa-phone list-view-pf-icon-sm"></span>
              </div>
              <div class="list-view-pf-body">
                <div class="list-view-pf-description">
                  <div class="list-group-item-heading">
                    {{device.manufacturer}}
                  </div>
                  <div class="list-group-item-text">
                    {{device.model}}
                  </div>
                </div>
                <div class="list-view-pf-additional-info config-info">
                  <div>IP: <b>{{device.ipv4}}</b></div>
                  <div>MAC: <b>{{device.mac}}</b></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-xs-12 config-bottom">
          <div class="list-view-pf-additional-info-item">
            <span class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><span class="fa fa-phone"></span><span class="config-span">{{'Mobile' | translate}}</span></span>
            <span class="col-lg-6 col-md-6 col-sm-12 col-xs-12 config-span-container"><input ng-model="selectedUser.mobile" type="text" class="form-control config-form" placeholder="{{'Mobile' | translate}}">
            <button ng-click="setMobileExtension(selectedUser)" type="button" class="btn btn-default adjust-button" aria-haspopup="true" aria-expanded="false">{{'Add' | translate}}</button></span>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12 config-bottom">
          <div class="list-view-pf-additional-info-item">
            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><span class="fa fa-mobile adjust-icon"></span><span class="config-span">{{'App Mobile' | translate}}</span></span>
            <input class="bootstrap-switch col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-model="selectedUser.app_mobile" type="checkbox" checked>
          </div>
        </div>
      </div>

      <div class="row config-row">
        <div class="col-lg-6 col-xs-12 config-bottom">
          <div class="list-view-pf-additional-info-item">
            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><span class="fa fa-headphones"></span><span class="config-span">{{'WebRTC' | translate}}</span></span>
            <input class="bootstrap-switch col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-model="selectedUser.webrtc" type="checkbox" checked>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12 config-bottom">
          <div class="list-view-pf-additional-info-item">
            <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><span class="fa fa-envelope-o"></span><span class="config-span">{{'Voicemail' | translate}}</span></span>
            <input class="bootstrap-switch col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-model="selectedUser.voicemail" type="checkbox" checked>
          </div>
        </div>
      </div>
    </div>
  </div>

  <wizard-step ng-if="wizard.isWizard"></wizard-step>
</div>