<div class="wizard-pf">
  <div class="wizard-pf-body clearfix">
    <div class="wizard-pf-steps">
      <ul class="wizard-pf-steps-indicator">
        <li class="wizard-pf-step {{resolveActiveTab('extensions',2) ? 'active' : ''}}" data-tabgroup="1">
          <a ng-click="goTo('users/extensions')"><span class="wizard-pf-step-number">1</span><span class="wizard-pf-step-title">{{'Extensions' | translate}}</span></a>
        </li>
        <li class="wizard-pf-step {{resolveActiveTab('devices',2) ? 'active' : ''}}" data-tabgroup="2">
          <a ng-click="goTo('users/devices')"><span class="wizard-pf-step-number">2</span><span class="wizard-pf-step-title">{{'Devices' | translate}}</span></a>
        </li>
        <li class="wizard-pf-step {{resolveActiveTab('configurations',2) ? 'active' : ''}}" data-tabgroup="3">
          <a ng-click="goTo('users/configurations')"><span class="wizard-pf-step-number">3</span><span class="wizard-pf-step-title">{{'Configurations' | translate}}</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="wizard-pf-contents adjust-size">
    <h1 class="control-label centered" for="textInput-markup">{{'Extensions configuration' | translate}}</h1>
    <div ng-if="!(users | isEmpty)" class="container-fluid">
      <div class="list-group list-view-pf list-view-pf-view list-header">
        <div class="list-group-item list-item-header">
          <div class="list-view-pf-actions">
            <label>{{'Status' | translate}}</label>
          </div>
          <div class="list-view-pf-main-info">
            <div class="list-view-pf-left">
              <span class="fa fa-usera list-view-pf-icon-sm"></span>
            </div>
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading">
                  {{'Username' | translate}}
                </div>
                <div class="list-group-item-text">
                  {{'Fullname' | translate}}
                </div>
              </div>
              <div class="list-view-pf-additional-info">
                <div class="list-view-pf-additional-info-item">
                  <label>{{'Extension'}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group list-view-pf list-view-pf-view">
        <div class="list-group-item" ng-repeat="user in users">
          <div class="list-view-pf-actions">
            <div ng-show="user.isInAction" class="spinner spinner-sm adjust-margin"></div>
            <span ng-show="!user.isInAction" popover-placement="top-right" popover-trigger="'mouseenter'" popover-animation="true" uib-popover="{{user.default_extension === 'none' ? 'Not configured' : 'Configured' | translate}}" class="pficon {{user.default_extension === 'none' ? 'pficon-info' : 'pficon-ok'}} icon-med"></span>
            <!-- <div class="dropdown pull-right dropdown-kebab-pf">
              <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebabRight9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebabRight9">
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">{{'Delete' | translate}}</a></li>
              </ul>
            </div> -->
          </div>
          <div class="list-view-pf-main-info">
            <div class="list-view-pf-left">
              <span class="fa fa-user list-view-pf-icon-sm"></span>
            </div>
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading">
                  {{user.username}}
                </div>
                <div class="list-group-item-text">
                  {{user.displayname}} <span ng-if="user.description">{{user.description}}</span>
                </div>
              </div>
              <div class="list-view-pf-additional-info">
                <div ng-if="user.default_extension === 'none'" class="list-view-pf-additional-info-item">
                  <input ng-model="user.temp_ext" type="text" class="form-control" id="filter" placeholder="{{'Insert extension' | translate}}">
                  <div class="input-group-btn">
                    <button ng-click="setVirtualExtension(user)" type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false">{{'Add' | translate}}</button>
                  </div>
                </div>
                <div ng-if="user.default_extension !== 'none'" class="list-view-pf-additional-info-item">
                  <input type="text" ng-model="user.default_extension" class="form-control" id="filter" placeholder="{{'Insert extension' | translate}}">
                  <div class="input-group-btn">
                    <button ng-click="setVirtualExtension(user)" type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false">{{'Modify' | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button ng-if="mode.isLegacy" data-toggle="modal" data-target="#createUser" class="btn btn-primary btn-lg right-button">{{'Add user' | translate}}</button>
      </div>
    </div>
    <div ng-if="users | isEmpty" class="blank-slate-pf ">
      <div class="blank-slate-pf-icon">
        <span class="pficon pficon-users"></span>
      </div>
      <h1>
        Empty State Title
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p>
        Learn more about this <a href="#">on the documentation</a>.
      </p>
      <div ng-if="mode.isLegacy" class="blank-slate-pf-main-action">
        <button data-toggle="modal" data-target="#createUser" class="btn btn-primary btn-lg">{{'Create user' | translate}}</button>
      </div>
    </div>
  </div>

  <wizard-step ng-if="wizard.isWizard"></wizard-step>
</div>

<div class="modal fade" id="createUser" tabindex="-1" role="dialog" aria-labelledby="createUserLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title" id="createUserLabel">{{'Create user' | translate}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="createUser(newUser)">
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Username' | translate}}</label>
            <div class="col-sm-9">
              <input required ng-model="newUser.username" type="text" id="textInput-modal-markup" class="form-control"></div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput2-modal-markup">{{'Fullname' | translate}}</label>
            <div class="col-sm-9">
              <input required ng-model="newUser.fullname" type="text" id="textInput2-modal-markup" class="form-control"></div>
          </div>
        </div>
        <div ng-show="onSave" class="spinner spinner-sm adjust-margin loader-modal"></div>
        <div class="modal-footer submit">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button type="submit" class="btn btn-primary">{{'Save' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>