<!doctype html>
<html lang="en" class="layout-pf-alt layout-pf-alt-fixed layout-pf-alt-fixed-with-footer layout-pf-alt-fixed-inner-scroll" ng-app="nethvoiceWizardUiApp" ng-controller="InitCtrl">

  <head>
    <meta charset="utf-8">
    <title>{{brandConfig.BRAND_NAME}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap-combobox/css/bootstrap-combobox.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-touchspin/src/jquery.bootstrap-touchspin.css" />
    <link rel="stylesheet" href="bower_components/c3/c3.css" />
    <link rel="stylesheet" href="bower_components/datatables/media/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="bower_components/datatables-colvis/css/dataTables.colVis.css" />
    <link rel="stylesheet" href="bower_components/google-code-prettify/bin/prettify.min.css" />
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="bower_components/patternfly/dist/css/patternfly.css" />
    <link rel="stylesheet" href="bower_components/patternfly/dist/css/patternfly-additions.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/brand.css">
    <link rel="stylesheet" href="styles/login.css">
    <!-- endbuild -->
  </head>

  <body ng-class="login.isLogged ? 'cards-pf' : 'login-pf'" ng-controller="InitCtrl">
    <!-- login -->
    <div ng-if="!login.isLogged">
      <div ng-include="loginUrl">
      </div>
    </div>
    <!-- end login -->
    <div ng-show="login.isLogged" class="full-height">
      <!-- navbar-->
      <nav class="navbar navbar-pf-alt">
        <div class="navbar-header">
          <button ng-click="toggleNavBar()" type="button" class="navbar-toggle">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a ng-click="goTo('/')" class="navbar-brand">
            <img class="navbar-brand-icon" src="images/brand.png" alt="" />
          </a>
        </div>
        <nav class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right navbar-iconic">
            <li class="dropdown f16">
              <a class="dropdown-toggle nav-item-iconic" id="languages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span title="{{'Change language' | translate}}" class="fa fa-globe"></span>
              </a>
              <div class="dropdown-menu infotip bottom-right">
                <div class="arrow"></div>
                <ul class="list-group">
                  <li ng-repeat="l in languagesArr track by l.key" class="list-group-item change-language" ng-click="changeLanguage(l)">
                    <span ng-show="l.check" class="fa fa-check"></span>
                    <span ng-hide="l.check">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="language-name">{{l.nativeName}}</span>
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown">
              <a ng-click="goToFullScreen()" class="dropdown-toggle nav-item-iconic" id="fullscreen">
                <span title="{{'Fullscreen' | translate}}" class="fa fa-expand"></span>
              </a>
            </li>
            <li class="dropdown">
              <a ng-click="doLogout()" class="dropdown-toggle nav-item-iconic" id="logout">
                <span title="{{'Logout' | translate}}" class="fa fa-sign-out"></span>
              </a>
            </li>
          </ul>
        </nav>
      </nav>
      <!-- end navbar-->
      <!-- left menu -->
      <nav id="navbar-left" class="nav-pf-vertical-alt">
        <ul class="list-group">
          <li class="list-group-item collapse-menu {{resolveActiveTab('users',1) ? 'active' : ''}}" id="users-item-menu">
            <a ng-click="goTo('users/extensions')">
              <span class="pficon pficon-users" title="Users" data-toggle="tooltip" data-placement="right"></span>
              <span class="list-group-item-value">{{'Users' | translate}}</span>
              <span class="badge notifications">{{12}}</span>
            </a>
          </li>
          <li ng-if="!wizard.isWizard || wizard.stepCount > appConfig.PART1_STEP" class="list-group-item collapse-menu {{resolveActiveTab('trunks',1) ? 'active' : ''}}" id="trunks-item-menu">
            <a ng-click="goTo('trunks/physical')">
              <span class="pficon pficon-topology" title="{{'Trunks' | translate}}" data-toggle="tooltip" data-placement="right"></span>
              <span class="list-group-item-value">{{'Trunks' | translate}}</span>
              <span class="badge notifications">{{3}}</span>
            </a>
          </li>
          <li ng-if="!wizard.isWizard || wizard.stepCount > appConfig.PART2_STEP" class="list-group-item collapse-menu {{resolveActiveTab('routes',1) ? 'active' : ''}}" id="routes-item-menu">
            <a ng-click="goTo('routes/inbound')">
              <span class="pficon pficon-trend-up" title="Routes" data-toggle="tooltip" data-placement="right"></span>
              <span class="list-group-item-value">{{'Routes' | translate }}</span>
              <span class="badge notifications">{{8}}</span>
            </a>
          </li>
          <li class="list-group-item list-group-item-separator hidden-sm hidden-md hidden-lg collapse-menu" id="fullscreen-item-menu">
            <a ng-click="goToFullScreen()" href="">
              <span class="fa fa-expand" title="{{'Profile' | translate}}"></span>
              <span class="list-group-item-value">{{'Full screen' | translate}}</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- end left menu -->
      <!-- content -->
      <div class="container-fluid container-cards-pf container-pf-alt-nav-pf-vertical-alt">
        <div ng-show="changeRoute" class="spinner spinner-lg pageLoader"></div>
        <div ng-view>
        </div>
      </div>
      <!-- end content -->
      <!-- footer -->
      <footer class="container-fluid footer-pf-alt">
        <p class="footer-opt"><a target="-blank" href="{{brandConfig.BRAND_SITE}}">Copyright &copy; {{currentYear()}} {{brandConfig.BRAND_NAME}}</a></p>
        <p class="footer-opt-right"><a target="_blank" href="{{brandConfig.BRAND_DOCS}}">{{'Docs' | translate}}</a></p>
      </footer>
      <!-- end footer -->
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bootstrap-combobox/js/bootstrap-combobox.js"></script>
    <script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <script src="bower_components/bootstrap-touchspin/src/jquery.bootstrap-touchspin.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/c3/c3.js"></script>
    <script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
    <script src="bower_components/datatables-colreorder/js/dataTables.colReorder.js"></script>
    <script src="bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <script src="bower_components/google-code-prettify/bin/prettify.min.js"></script>
    <script src="bower_components/matchHeight/dist/jquery.matchHeight.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="bower_components/patternfly-bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
    <script src="bower_components/patternfly/dist/js/patternfly.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/brand.js"></script>
    <script src="scripts/utils/sha1.js"></script>
    <script src="scripts/i18n/lang.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/users.js"></script>
    <script src="scripts/controllers/trunks.js"></script>
    <script src="scripts/controllers/routes.js"></script>
    <script src="scripts/controllers/users/extensions.js"></script>
    <script src="scripts/controllers/users/devices.js"></script>
    <script src="scripts/controllers/users/configurations.js"></script>
    <script src="scripts/controllers/trunks/physical.js"></script>
    <script src="scripts/controllers/trunks/voip.js"></script>
    <script src="scripts/controllers/routes/inbound.js"></script>
    <script src="scripts/controllers/routes/outbound.js"></script>
    <script src="scripts/controllers/init.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/services/languageservice.js"></script>
    <script src="scripts/services/localstorageservice.js"></script>
    <script src="scripts/directives/wizardstep.js"></script>
    <script src="scripts/services/loginservice.js"></script>
    <script src="scripts/services/restservice.js"></script>
    <!-- endbuild -->
  </body>

</html>
