body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-size: 100% auto !important;
  display: none;
  overflow: hidden;
}

span a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

span p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  display: inline;
}

.full-height {
  height: 100%;
}

p {
  margin: 0;
}

a {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

/* VERTICAL NAVBAR */

.panel {
  background-color: #282828;
}

.nav-pf-vertical-alt {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}

.nav-pf-vertical-alt .list-group-item .badge {
  border-radius: 0;
  font-size: 11px;
}

.layout-pf-alt-fixed .nav-pf-vertical-alt {
  width: 200px;
  background: #282828;
  border-right: 0;
  z-index: 999;
}

.nav-pf-vertical-alt .list-group-item {
  background: #282828;
  border-top: 1px solid #030303;
  border-bottom: 1px solid #030303;
}

.nav-pf-vertical-alt .list-group-item a {
  color: #cfcfcf;
}

.nav-pf-vertical-alt .list-group-item a:hover {
  color: #cfcfcf;
}

.nav-pf-vertical-alt .list-group-item:hover {
  background: #404040;
}

.nav-pf-vertical-alt .list-group-item.active {
  background: #404040;
  border-top: 1px solid #030303;
  border-bottom: 1px solid #030303;
  margin-top: -1px;
}

.nav-pf-vertical-alt .list-group-item.active a {
  color: #fff;
}

/*********/

/* CONTENT */

.container-fluid {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.layout-pf-alt.layout-pf-alt-fixed .container-pf-alt-nav-pf-vertical-alt {
  margin-left: 200px;
}

.layout-pf-alt.layout-pf-alt-fixed.layout-pf-alt-fixed-inner-scroll .container-pf-alt-nav-pf-vertical-alt.container-cards-pf {
  padding: 12px;
  overflow-x: hidden;
}

.pageLoader {
  z-index: 9999;
  top: 50%;
}

.navbar-brand-icon {
  height: 30px;
}

/**************/

/* FOOTER */

.check-connection {
  position: absolute;
  margin-top: 4px;
}

.check-status {
  position: absolute;
  margin-top: 2px;
  margin-left: 11px;
  font-size: 20px;
}

.inline-color {
  position: absolute;
  margin-top: 2px;
  margin-left: 8px;
}

.inline-display {
  display: inline-block;
}

.footer-opt {
  margin-left: 8px;
  display: inline-block;
}

.footer-opt-right {
  margin-right: 8px;
  float: right;
}

.associated {
  color: #CFCFCF;
  background-color: #f5f5f5;
}

.layout-pf-alt-fixed-with-footer .footer-pf-alt {
  background: #171717;
  color: #CFCFCF;
  line-height: 28px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.popover.top {
  min-width: 245px;
}

.card-pf-footer {
  padding: 15px 20px;
}

.list-header {
  margin-top: 0;
  margin-bottom: -30px;
}

.list-gateway:last-child {
  margin-bottom: 86px;
}

.list-item-header {
  background: #f5f5f5;
  border: none;
  border-top: none !important;
}

.list-item-header:hover {
  background: #f5f5f5 !important;
}

/**************/

/* LANGUAGE */

.navbar-pf-alt .infotip.bottom-right .arrow {
  left: 92%;
}

.change-language {
  cursor: pointer;
  margin-left: 15px !important;
}

.change-language:hover {
  background: #d5ecf9;
}

.language-name {
  margin-left: 12px;
}

/***********/

/* WIZARD */

.absolute-expand {
  position: absolute;
  right: 14px;
  top: 18px;
}

.line-margin-top {
  margin-top: 8px;
}

@media screen and (min-width: 1441px) {
  .absolute-provision {
    position: absolute;
    right: 50px;
    top: 16px;
  }
  .resized-list {
    height: 190px;
    overflow-y: auto;
    margin-top: 35px;
    padding-top: 0px;
    border-left: 1px #c5c5c5 solid;
  }
}

@media screen and (max-width: 1440px) {
  .resized-list {
    height: 190px;
    overflow-y: auto;
    margin-top: 4px;
    padding-top: 0px;
  }
  /*.absolute-provision {
    position: absolute;
    right: 14px;
    top: 55px;
  }*/
}

.no-border {
  border: none;
}

.no-top-pad {
  padding-top: 0px !important;
}

.blank-slate-pf {
  border: none;
}

.btn-lgg,
.btn-group-lgg>.btn {
  padding: 6px 10px;
  font-size: 20px;
  margin-right: 20px;
  line-height: 1.3333333;
  border-radius: 1px;
}

.wizard-pf {
  height: 100%;
  margin: 0 auto;
  max-height: 900px;
  padding: 0px;
  width: auto;
}

.wizard-pf-steps-indicator {
  padding: 25px 0px;
  margin-bottom: 0px;
}

.wizard-pf-footer {
  z-index: 998;
  background: #f5f5f5;
}

#wizardStepBase {
  position: absolute;
  height: 58px;
  right: 0px;
  left: 0px;
  bottom: 33px;
  border-top: 1px solid #d1d1d1;
  background: whitesmoke;
}

.adjust-header {
  margin-top: 0px;
}

@media screen and (min-width: 1440px) {
  .adjust-link {}
}

@media screen and (max-width: 1440px) {
  .adjust-link {
    width: 100%;
    margin-top: -4px !important;
    margin-left: 40px;
  }
}

@media screen and (min-width: 992px) {
  .adjust-search {
    margin-top: 5px;
    padding-right: 25px;
  }
  .adjust-body-gateway {
    display: table-cell;
  }
  .adjust-info-gateway {
    clear: both;
    margin-left: 20%;
  }
}

@media screen and (max-width: 991px) {
  .adjust-search {
    margin-top: 5px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 5px;
  }
  .adjust-header {
    margin-bottom: 4px;
  }
  .adjust-info-gateway {
    clear: both;
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .wizard-pf-footer {
    margin-left: 200px;
    padding-left: 12px;
  }
  .right-button {
    float: right;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .big-margin-top {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .wizard-pf-footer {
    margin-left: 76px;
    padding-left: 12px;
  }
  .right-button {
    float: right;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .config-adjust-size-gateway {
    margin-bottom: 54px;
    margin-top: -54px;
  }
}

@media screen and (min-width: 768px) {
  .progress {
    margin-bottom: 0px;
    margin-top: 3px;
  }
  .adjust-size {
    margin-top: 16px;
    padding-right: 95px;
    padding-left: 95px;
    margin-bottom: 65px;
  }
  .config-title-icon-adjust {
    margin-left: 23px;
  }
  .adjust-voip {
    margin-top: 8px;
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 767px) {
  .wizard-pf-footer {
    margin-left: 1px;
    padding-left: 12px;
  }
  #wizardStepBase {
    position: absolute;
    height: 58px;
    right: 0px;
    left: 0px;
    bottom: 31px;
    border-top: 1px solid #d1d1d1;
    background: whitesmoke;
  }
  .progress {
    margin-bottom: 8px;
    margin-top: 3px;
  }
  .adjust-size {
    margin-top: 16px;
    margin-bottom: 70px;
  }
  .right-button {
    float: right;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .handle-margin {
    margin-top: 10px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .adjust-search {
    margin-top: 5px;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 8px;
  }
  .adjust-header {
    margin-bottom: 4px;
  }
  .config-adjust-size-gateway {
    margin-bottom: 30px;
    margin-top: -54px;
  }
  .config-title-icon-adjust {
    margin-left: 0px;
  }
  .adjust-voip {
    margin-top: 8px;
    margin-bottom: 65px;
  }
  .label-selected-bulk {
    margin-top: 15px;
  }
  #badge img {
    height: 35px !important;
  }
}

.list-view-pf .list-group-item {
  border-color: transparent #f5f5f5;
  cursor: pointer;
  border-bottom: 1px #ededed solid;
}

.list-view-pf .list-group-item:first-child {
  border-top: none;
}

.list-view-pf-additional-info {
  width: initial;
}

.list-view-pf-main-info {
  padding-bottom: 16px;
  padding-top: 16px;
}

.list-view-pf-actions {
  margin-top: 16px;
  margin-bottom: 16px;
}

.list-view-pf .list-group-item-text {
  color: inherit;
}

@media (min-width: 992px) {
  .list-view-pf .list-group-item-text {
    width: calc(75% - 80px);
  }
}

.progress-content {
  margin-top: 40px;
}

.progress-description {
  text-align: left;
  max-width: 80%;
}

.list-view-pf .list-group-item-heading {
  flex: 1 0 calc(40% - 20px);
}

.selected {
  background: #d5ecf9;
}

.config-view-container {
  margin-top: 0px;
  overflow-y: auto;
  max-height: 315px;
  background-color: #fff;
}

.config-spinner {
  float: right;
  margin-top: 4px;
  margin-left: 12px;
}

.config-item {
  height: 50px;
}

.config-info {
  display: block;
}

.config-adjust-size {
  margin-bottom: 20px;
}

.config-span {
  margin-right: 8px;
  font-size: 14px;
}

.config-span-container {
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
}

.config-row {
  margin-top: 16px;
}

.config-row-button {
  margin-top: 15px;
}

.absolute-icon-right {
  position: absolute;
  right: 30px;
}

.config-bottom {
  margin-bottom: 16px;
}

.config-bottom:last-child {
  margin-bottom: 0px;
}

.config-form-gateway {
  margin-bottom: 55px;
}

.config-button-list {
  text-align: right;
  background: #f5f5f5;
  padding-top: 8px;
  margin-bottom: -12px;
}

.config-gateway-footer {
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 30px;
}

.no-margin {
  margin: 0px;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.anchor-sortable {
  font-size: 16px;
  margin-right: 8px;
  color: #777777 !important;
}

@media screen and (max-width: 990px) {
  .config-form {
    margin-left: -10px;
  }
}

.adjust-alert {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.adjust-alert-gateway {
  margin-top: 30px;
  margin-bottom: 0px;
}

.config-title-icon {
  font-size: 18px;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 12px;
}

.config-title-icon-adjust {
  font-size: 18px;
  margin-right: 18px;
  margin-top: 12px;
}

.config-title-user {
  margin-bottom: 11px;
}

.config-list-item-right {
  padding-bottom: 10px;
  padding-top: 10px;
}

.weight {
  font-weight: 500;
}

.weight-plus {
  font-weight: 600;
}

.weight-dest {
  font-weight: 700;
  line-height: 1px;
}

.more-elem {
  width: calc(35% - 80px) !important;
}

.card-body-small-bottom {
  margin-bottom: 5px;
}

.space-bottom {
  margin-bottom: 8px;
}

.no-background {
  background: #f5f5f5;
}

.as-sortable-placeholder {
  border: 2px dashed #bbb !important;
  background: #fff !important;
  visibility: visible !important;
  margin-bottom: 4px !important;
}

.route-name-id {
  color: #909090;
}

@media screen and (max-width: 1557px) {
  .weight-gateway {
    display: block;
    margin-left: 56px;
    margin-top: 6px;
  }
  .adjust-search-gateway {
    margin-top: 22px;
  }
}

@media screen and (max-width: 1200px) {
  .weight-gateway {
    display: initial;
    margin-left: initial;
    margin-top: initial;
  }
  .adjust-search-gateway {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1800px) {
  .adjust-body-gateway {
    display: inherit;
  }
  .adjust-info-gateway {
    margin-left: initial;
  }
}

.small-font {
  font-size: 12px;
}

.medium-font {
  font-size: 18px;
}

/**********/

/* ICON */

.icon-med {
  font-size: 16px;
  line-height: 24px;
}

.icon-med-reload {
  vertical-align: middle;
  margin-left: 12px;
  padding: 6px;
}

.adjust-margin {
  margin-left: -1px;
  margin-top: -2px;
}

.adjust-margin-extensions {
  margin-top: 10px;
}

.adjust-bottom {
  margin-bottom: 12px;
}

.adjust-button {
  margin-left: -1px;
}

.adjust-icon {
  font-size: 22px !important;
}

.adjust-model-gateway {
  margin-left: 14px;
}

.adjust-badge {
  right: 38px !important;
}

.adjust-panel-body:first-child {
  border-top: 2px solid #030303 !important;
}

.adjust-panel-body:last-child {
  border-bottom: 1px solid #030303 !important;
}

.adjust-panel-body {
  color: #fff;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 14px;
  border-top: 1px solid #030303 !important;
}

.adjust-weight {
  font-weight: normal;
}

.adjust-body-user {
  margin-top: 10px;
  overflow-y: auto;
  max-height: 440px;
}

.user-config-detail {
  line-height: 30px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: -2px;
}

.device-config-detail {
  line-height: 30px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: -2px;
  text-align: right
}

.a-menu {
  padding: 0px !important;
  height: 100% !important;
}

.img-max-width {
  max-width: 372px;
}

.img-max-width-pre {
  max-width: 290px;
}

.border-gray {
  border: 1px solid #8e8e8e;
}

.no-opacity {
  opacity: 1 !important;
}

.adjust-filter {
  margin-top: 8px;
}

.filter-label {
  float: left;
  line-height: 42px;
  font-size: 15px;
  margin-right: 8px;
  font-weight: 400;
}

.adjust-filter-user {
  margin-top: 28px;
}

.check-results {
  margin-top: 8px;
  padding-left: 1px;
}

.filter-label-bulk {
  display: inline-block;
  font-size: 15px;
  margin-right: 8px;
  font-weight: 400;
}

.label-selected-bulk {
  font-size: 15px;
  text-align: right;
}

.margin-top-lg {
  margin-top: 38px;
}

.filter-label-user {
  float: left;
  font-size: 15px;
  margin-right: 8px;
  font-weight: 400;
}

.menu-item-left {
  cursor: pointer;
  padding-left: 25px !important;
  padding-top: 10px !important;
}

.menu-item-left:hover {
  background: #404040;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.right-align {
  float: right;
  min-width: 65px;
}

.left-align {
  float: right;
  margin-right: 10px;
  min-width: 65px;
}

.right-only {
  float: right;
}

.left {
  text-align: left;
}

.spinner-right {
  float: right;
  margin-top: 6px;
}

.spinner-right-color {
  float: right;
  margin-top: 2px;
}

.icon-right {
  float: right;
  margin-top: 7px;
  font-size: 16px;
}

.loader-modal {
  float: right;
  margin-right: 30px;
  margin-top: -6px;
}

.loader-modal-profile {
  float: right;
  margin-left: 10px;
  margin-top: 16px;
}

.loader-modal-gateway {
  float: right;
  margin-right: 15px;
  margin-top: 0px;
}

.loader-modal-gateway-not-form {
  float: right;
  margin-right: 0px;
  margin-top: 3px;
  margin-left: 8px;
}

.loader-modal-gateway-not-form-out {
  float: right;
  margin-right: 0px;
  margin-top: 6px;
  margin-left: 8px;
}

.disabled {
  color: #999 !important;
}

.adjust-line {
  font: inherit;
  font-size: 14px !important;
  line-height: 26px !important;
}

.adjust-list {
  flex: initial;
  width: 60%;
}

.adjust-form {
  margin-top: 12px
}

.adjust-profile-header {
  background: #ededed;
  margin-bottom: 0px;
  line-height: 42px;
}

.adjust-profile-margin {
  margin-bottom: 16px;
  cursor: pointer;
}

.adjust-profile-body {
  border: 1px solid #e2e2e2;
}

.profile-list-container {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e2e2e2;
}

.profile-list-container:nth-last-child(3) {
  border-bottom: none;
}

.profile-macro-title {
  clear: both;
  font-size: 16px;
  font-weight: 600;
}

.profile-permission {
  margin-bottom: 12px;
}

.profile-permission-container {
  margin-top: 16px;
}

.profile-panel {
  background: #fff;
  cursor: auto;
}

.list-group {
  border-top: 0px;
}

.list-group-item:hover {
  background: #f1f1f1;
}

.profile-button-save {
  float: right;
  margin-top: 6px;
  margin-right: 8px;
}

.profile-save-spinner {
  float: right;
  margin-top: 12px;
  margin-right: 15px;
}

.query-space-form {
  display: grid;
  width: 96%;
  min-height: 120px;
  margin-top: 5px;
}

.divider {
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 1%;
}

.gray-label {
  font-weight: 600;
  color: #8e8e8e;
}

.profile-new-name {
  max-width: 180px;
}

.full-size-max {
  max-width: 100%;
}

.imp-full-size-max {
  width: 100% !important;
}

.profile-open-icon {
  float: right;
  margin-right: 12px;
  margin-left: -6px;
  margin-top: 2px;
}

.card-pf-view .card-pf-top-element .card-pf-icon-circle {
  border: 2px solid #39a5dc;
  font-size: 26px;
  height: 55px;
  line-height: 50px;
  width: 55px;
}

.adjust-card {
  margin-top: 20px;
}

.list-group-item-container {
  background: #fff;
  border-top: solid 1px #ededed;
  box-sizing: content-box;
  margin: 0px 0px 15px;
  -ms-flex-order: 3;
  order: 3;
  padding: 10px 15px;
  position: relative;
  width: 100%;
}

.full-size {
  width: 100%;
}

.sortable-item {
  background: rgb(245, 245, 245);
  margin-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.sortable-item:active {
  background: rgb(234, 234, 234);
}

.as-sortable-dragging {
  border: 1px solid #bbb !important;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 62px;
}

.sortable-item:hover {
  background: rgb(234, 234, 234);
}

.sortable-item:last-child {
  border-bottom: 0px;
}

.wizard-pf-step a {
  font-size: 12px !important;
}

@media screen and (max-width: 430px) {
  .wizard-pf-step a {
    font-size: 10px !important;
  }
}

/**********/

.generic-error {
  position: absolute;
  top: 72px;
  right: 12px;
}

.editor {
  height: 200px;
  margin-top: 5px;
}

.small-margin {
  margin-top: 5px;
}

.adjust-margin-bottom {
  margin-bottom: 4px !important;
}

.editor-form {
  height: 200px;
  width: 97%;
  font-size: 14px !important;
  margin-top: 5px;
}

.editor-template {
  height: 85px;
  margin-top: 5px;
}

.editor-preview {
  width: 97%;
  border: 1px solid #bbb;
  min-height: 275px;
}

.editor-code {
  width: 97%;
  margin-bottom: -5px;
}

.editor-preview-list {
  width: 100%;
  border: 1px solid #bbb;
  height: 250px;
}

.color-padding {
  padding-top: 4px;
}

.color-active {
  border: 2px solid #c1c1c1 !important;
}

iframe body {
  overflow: auto;
}

.cube-color-red {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #db2828;
  display: inline-block;
}

.cube-color-orange {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #f2711c;
  display: inline-block;
}

.cube-color-yellow {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #fbbd08;
  display: inline-block;
}

.cube-color-olive {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #b5cc18;
  display: inline-block;
}

.cube-color-green {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #21ba45;
  display: inline-block;
}

.cube-color-teal {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #00b5ad;
  display: inline-block;
}

.cube-color-blue {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #2185d0;
  display: inline-block;
}

.cube-color-violet {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #6435c9;
  display: inline-block;
}

.cube-color-purple {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #a333c8;
  display: inline-block;
}

.cube-color-pink {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #e03997;
  display: inline-block;
}

.cube-color-brown {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #a5673f;
  display: inline-block;
}

.config-all-devices {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 32px;
  margin-top: 0px;
}

.bulk-container {
  margin-bottom: 12px;
}

.scanned-lists {
  padding-right: 9px !important;
  padding-left: 9px !important;
}

.slim-weight {
  font-weight: 200;
}

.drd-button {
  width: 180px;
}

.drd-carret {
  float: right;
  margin-top: 5px;
}

.drd-ul {
  width: 180px;
}

.spinner-container {
  padding: 18px 0px;
}

#importInput {
  display: none !important;
}

.no-box-shadow {
  box-shadow: none !important;
}

.margin-bottom-lg {
  margin-bottom: 85px;
}

#digitsWarning {
  padding: 0px 21px 0px 10px !important;
}

.inline-hr {
  display: inline-block;
  margin-top: 0px !important;
  margin-bottom: 3px !important;
  width: 100%;
  border-color: #d1d1d1 !important;
}

.form-divider-row {
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 22px;
  margin-top: 28px;
}

.form-divider-row .fa {
  margin-left: 6px !important;
}

.form-divider-string {
  font-size: 13px;
  margin: 0px 2px;
}

.cursive {
  font-style: italic;
}

.right-padding {
  padding-right: 21px !important;
}

.divider-vertical {
  margin-left: 10px;
}

#badge img {
  height: 48px;
}

#brand {
  margin-top: 8px;
  margin-bottom: 15px;
  margin-left: 0px;
  font-size: 22px !important;
}

.dashboard-title {
  margin-bottom: 15px;
  margin-left: 5px;
  font-size: 22px !important;
}

.navbar-pf-alt {
  background: #171717;
}

.col-brand {
  height: 20px;
}

.paramurl-descr-label {
  text-align: left !important;
}

.paramurl-input {
  max-width: 390px;
}

.paramurl-input-span {
  width: 80%;
  margin-right: 10px;
}

.paramurl-url-label {
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  line-height: 21px;
}

.vmiddle {
  vertical-align: middle;
}

.paramurl-warning {
  margin-bottom: 0px !important;
}

.paramurl-input-readonly {
  width: 93%;
}

.paramurl-input-span .popover.top {
  min-width: 50px !important;
}