<div class="wizard-pf-contents adjust-size no-margin-bottom">
  <h1 class="control-label centered" for="textInput-markup">
    {{ 'Bulk phones configuration' | translate }}
  </h1>
  <div class="container-fluid mg-top-20">
    <!-- toast error message -->
    <div class="toast-pf toast-pf-max-width toast-pf-top-right alert alert-danger alert-dismissable"
      ng-repeat="error in errors">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        <span class="pficon pficon-close"></span>
      </button>
      <span class="pficon pficon-error-circle-o"></span>
      <strong ng-show="error.message">{{ error.message | translate }}:</strong>
      <span ng-show="error.error">{{ error.error }}.</span>
      <span ng-show="error.title">{{ error.title }}.</span>
      <p ng-show="error.detail"><i>{{ error.detail }}.</i></p>
    </div>
    <!-- loading UI -->
    <div class="centered" ng-show="!uiLoaded">
      <span class="spinner spinner-large"></span>
    </div>
    <div ng-show="uiLoaded">
      <!-- empty state -->
      <div ng-show="phones.length == 0" class="blank-slate-pf">
        <div class="blank-slate-pf-icon">
          <span class="pficon pficon pficon-add-circle-o"></span>
        </div>
        <h1>
          {{ 'No phone in inventory' | translate }}
        </h1>
        <p>
          {{ 'Go to inventory to add phones' | translate }}
        </p>
        <div class="blank-slate-pf-main-action">
          <button class="btn btn-primary wizard-pf-open wizard-pf-add-phone"
            ng-click="goTo('devices/inventory')">{{ 'Go to inventory' | translate }}</button>
        </div>
      </div>
      <!-- filters -->
      <div ng-show="phones.length != 0">
        <div class="row mg-bottom-10">
          <div class="col-sm-12 no-padding mg-bottom-6">
            <!-- filter by group combobox -->
            <div class="filter">
              <div>{{ 'Filter by group' | translate }}:</div>
              <select pf-select="{ noneSelectedText: '' }" class="width-240" ng-change="filterPhones()"
                ng-model="filteredGroup" ng-options="group.name for group in groups | orderBy:orderByValue">
                <option value="">{{ 'All' | translate }}</option>
              </select>
            </div>
            <!-- filter by model combobox -->
            <div class="filter">
              <div>{{ 'Filter by model' | translate }}:</div>
              <select pf-select="{ noneSelectedText: '' }" class="width-240" ng-change="filterPhones()"
                ng-model="filteredModel" ng-options="model.display_name for model in models | orderBy:orderByValue">
                <option value="">{{ 'All' | translate }}</option>
              </select>
            </div>
            <!-- clear filters -->
            <a href="" ng-click="clearFilters()" class="card-pf-link-with-icon ng-binding mg-left-10 black">
              <span class="pficon pficon-close"></span>
              {{ 'Clear filters' | translate }}
            </a>
          </div>
        </div>
      </div>
      <!-- actions button -->
      <div class="mg-bottom-15">
        <!-- <div class="dropdown"> ////
          <button class="btn btn-lg btn-primary dropdown-toggle" type="button" id="actions-bulk" data-toggle="dropdown"
            ng-disabled="numSelected == 0">
            {{'Actions' | translate}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="actions-bulk">
            <li role="presentation"><a role="menuitem" tabindex="-1"
                ng-click="showSetModelModal()" ng-disabled="!allSelectedallSelectedSameModel">{{'Set model' | translate}}</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1"
                ng-click="showSetRebootModal()">{{'Set delayed reboot' | translate}}</a></li>
          </ul>
        </div> -->
        <button class="btn btn-primary" ng-click="showSetModelModal()"
          ng-disabled="numSelected == 0 || !allSelectedSameVendor">{{ 'Set model' | translate }}</button>
        <button class="btn btn-primary" ng-click="showSetRebootModal()"
          ng-disabled="numSelected == 0">{{ 'Set delayed reboot' | translate }}</button>
      </div>

      <div ng-show="numFiltered != 0">
        <!-- selection indicator -->
        <label class="right-only">
          {{ numSelected }} {{ 'of' | translate }} {{ numFiltered }} {{ 'selected' | translate }}
        </label>
        <!-- select all checkbox -->
        <input type="checkbox" ng-click="selectAllOrNoneToggle()" id="select-all-none-checkbox"
          ng-checked="numSelected === numFiltered">
        <label for="select-all-none-checkbox">{{ 'Select all' | translate }}</label>
      </div>
      <!-- empty state for active filters -->
      <div ng-show="numFiltered == 0" class="blank-slate-pf">
        <div class="blank-slate-pf-icon">
          <span class="fa fa-filter"></span>
        </div>
        <h1>
          {{ 'No phone' | translate }}
        </h1>
        <p>
          {{ 'Please change or clear active filters' | translate }}
        </p>
      </div>
      <!-- phone list -->
      <div class="list-group list-view-pf clear" ng-show="numFiltered != 0">
        <div class="list-group-item cursor-default {{phone.selected ? 'selected' : ''}}"
          ng-repeat="phone in phones track by $index | orderBy: 'display_name'" ng-show="phone.filtered">
          <label for="checkbox-phone-{{$index}}" class="width-100p">
            <div class="list-view-pf-actions width-25p">
              <!-- user -->
              <div>
                <span class="fa fa-user mg-right-5"></span>
                <span class="adjust-weight">{{ 'User' | translate }}:</span>
                <b>{{ phone.user ? phone.user.username : '-' }}</b>
              </div>
              <!-- reboot -->
              <div>
                <span class="pficon pficon-restart mg-right-5"></span>
                <span class="adjust-weight">{{ 'Reboot' | translate }}:</span>
                <b>{{ phone.nextReboot ? phone.nextReboot : '-' }}</b>
              </div>
            </div>
            <!-- checkbox -->
            <div class="list-view-pf-checkbox">
              <input type="checkbox" ng-model="phone.selected" id="checkbox-phone-{{$index}}">
            </div>
            <div class="list-view-pf-main-info">
              <div class="list-view-pf-left">
                <span class="fa fa-phone list-view-pf-icon-sm"></span>
              </div>
              <div class="list-view-pf-body">
                <div class="list-view-pf-description">
                  <div class="list-group-item-heading-narrow adjust-weight">
                    <!-- vendor  -->
                    {{ phone.vendor ? phone.vendor : '-'}}
                  </div>
                  <div class="list-group-item-text-narrow width-55p flex-grow-1">
                    <!-- MAC -->
                    <div>
                      <span class="fa fa-server mg-right-5"></span>
                      <span class="adjust-weight">MAC:</span>
                      <b>{{phone.mac}}</b>
                    </div>
                    <!-- model -->
                    <div>
                      <span class="fa fa-phone mg-right-5"></span>
                      <span class="adjust-weight">{{ 'Model' | translate }}:</span>
                      <b>{{ phone.model ? phone.model.display_name : '-' }}</b>
                    </div>

                  </div>
                </div>
              </div>
          </label>
        </div>
      </div>
    </div>

    <!-- set model modal -->
    <div class="modal fade" id="bulkModelModal" tabindex="-1" role="dialog" aria-labelledby="bulkModelModalLabel"
      aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <span class="pficon pficon-close"></span>
            </button>
            <h4 class="modal-title" id="bulkModelModalLabel">{{ 'Set model' | translate }}</h4>
          </div>
          <form class="form-horizontal" ng-submit="bulkModelSave()">
            <div class="modal-body">
              <!-- bulk notification -->
              <div class="alert alert-info">
                <span class="pficon pficon-info"></span>
                <span>{{ 'This change will be applied to' | translate }} {{ numSelected }}
                  {{ numSelected > 1 ? ('phones' | translate) : ('phone' | translate) }}</span>
              </div>
              <!-- bulk model -->
              <div class="form-group">
                <label class="col-sm-4 control-label">{{ 'Model' | translate }}</label>
                <div class="col-sm-6">
                  <select class="form-control" pf-select="{ noneSelectedText: '-' }" ng-model="bulkModel"
                    ng-disabled="!allSelectedSameVendor"
                    ng-options="model.display_name for model in filteredModels | orderBy: 'id'">
                    <option value="">{{ 'No model' | translate }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="modal-footer submit">
              <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel' | translate }}</button>
              <button type="submit" class="btn btn-primary"
                ng-disabled="bulkModel.id === 0">{{ 'Save' | translate }}</button>
            </div>
        </div>
        </form>
      </div>
    </div>

    <!-- set reboot modal -->
    <div class="modal fade" id="bulkRebootModal" tabindex="-1" role="dialog" aria-labelledby="bulkRebootModalLabel"
      aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <span class="pficon pficon-close"></span>
            </button>
            <h4 class="modal-title" id="bulkRebootModalLabel">{{ 'Set delayed reboot' | translate }}</h4>
          </div>
          <form class="form-horizontal" ng-submit="bulkRebootSave()">
            <div class="modal-body">
              <!-- bulk notification -->
              <div class="alert alert-info">
                <span class="pficon pficon-info"></span>
                <span>{{ 'This change will be applied to' | translate }} {{ numSelected }}
                  {{ numSelected > 1 ? ('phones' | translate) : ('phone' | translate) }} </span>
              </div>
              <!-- bulk reboot switch -->
              <div class="form-group">
                <label class="col-sm-4 control-label">{{ 'Enable delayed reboot' | translate }}</label>
                <div class="col-sm-6">
                  <input bs-switch ng-model="bulkRebootSwitch"
                    class="bootstrap-switch col-lg-6 col-md-6 col-sm-12 col-xs-12" type="checkbox">
                </div>
              </div>
              <!-- bulk reboot time -->
              <div class="form-group">
                <label class="col-sm-4 control-label">{{ 'Reboot time' | translate }}</label>
                <div class="col-sm-5">
                  <div class="input-group date-time-picker-pf" id="reboot-timepicker">
                    <input type="text" class="form-control" id="reboot-timepicker-value" ng-disabled="!bulkRebootSwitch"
                      required />
                    <span class="input-group-addon">
                      <span class="fa fa-clock-o"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer submit">
              <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel' | translate }}</button>
              <button type="submit" class="btn btn-primary">{{ 'Save' | translate }}</button>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>