<div class="wizard-pf">
  <div class="wizard-pf-body clearfix">
    <div class="wizard-pf-steps">
      <ul class="wizard-pf-steps-indicator">
        <li class="wizard-pf-step {{resolveActiveTab('physical',2) ? 'active' : ''}}" data-tabgroup="1">
          <a ng-click="goTo('trunks/physical')"><span class="wizard-pf-step-number">1</span><span class="wizard-pf-step-title">{{'Physical' | translate}}</span></a>
        </li>
        <li class="wizard-pf-step {{resolveActiveTab('voip',2) ? 'active' : ''}}" data-tabgroup="2">
          <a ng-click="goTo('trunks/voip')"><span class="wizard-pf-step-number">2</span><span class="wizard-pf-step-title">{{'Voip' | translate}}</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="wizard-pf-contents adjust-size">
    <h1 class="control-label centered" for="textInput-markup">{{'Trunks configuration' | translate}}</h1>
    <div ng-if="!(networks | isEmpty)" class="container-fluid">
      <div class="col-xs-12 col-sm-6 col-md-{{12/networkLength}} col-lg-{{12/networkLength}}" ng-repeat="(key, network) in networks">
        <div class="card-pf card-pf-view adjust-card">
          <div class="card-pf-body">
            <div class="card-pf-top-element">
              <span class="pficon pficon-network card-pf-icon-circle"></span>
            </div>
            <h2 class="card-pf-title text-center">
              {{key}} | <span class="weight">{{network.network}}</span>
            </h2>
            <div class="card-pf-items text-center">
              <div class="card-pf-item">
                <span class="pficon pficon-screen"></span>
                <span class="card-pf-item-text"><b>{{network.ip}}</b> /<span popover-placement="top" popover-trigger="'mouseenter'" popover-animation="true" uib-popover="{{'Netmask' | translate}}: {{network.netmask}}">{{network.netmask | maskToCidr}}</span></span>
              </div>
            </div>
            <p class="card-pf-info text-center">
              <div class="blank-slate-pf-main-action centered adjust-bottom">
                <button ng-click="startScan(key, network)" class="btn btn-primary btn-lg {{tasks[key].currentProgress > 0 && tasks[key].currentProgress < 100 ? 'disabled' : ''}}">{{'Scan' | translate}}</button>
                <div ng-if="tasks[key].currentProgress < 100 && tasks[key].currentProgress != -1" class="spinner spinner-sm spinner-inline spinner-right"></div>
                <div ng-if="tasks[key].currentProgress == 100 || tasks[key].currentProgress == -1" class="pficon pficon-{{tasks[key].currentProgress == 100 ? 'ok' : 'error-circle-o'}} icon-right"></div>
              </div>
              <div ng-if="tasks[key].startScan" class="progress">
                <div class="progress-bar {{tasks[key].currentProgress == -1 ? 'progress-bar-danger' : 'progress-bar-success'}}" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{tasks[key].currentProgress == -1 ? '100' : tasks[key].currentProgress}}%;">
                  <span>{{tasks[key].currentProgress == -1 ? '100' : tasks[key].currentProgress}}%</span>
                </div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="!(allDevices | isEmpty: true)" class="container-fluid col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div class="list-group list-view-pf list-view-pf-view list-header">
        <div class="list-group-item list-item-header">
          <div class="list-view-pf-actions">
            <label>{{'Status' | translate}}</label>
          </div>
          <div class="list-view-pf-main-info">
            <div class="list-view-pf-left">
              <span class="fa fa-usera list-view-pf-icon-sm adjust-line">{{allDevices | objCount}}</span>
            </div>
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading">
                  {{'Vendor' | translate}}
                </div>
                <div class="list-group-item-text">
                  {{'Model' | translate}}
                </div>
              </div>
              <div class="list-view-pf-additional-info">
                <div class="list-view-pf-additional-info-item">
                  <label>{{'Info' | translate}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="#{{networkName}}" class="list-group list-view-pf list-view-pf-view list-gateway" ng-repeat="(networkName, devices) in allDevices" ng-if="!(devices | isEmpty)">
        <div class="row">
          <h1 class="col-lg-6 col-md-6 col-sm-12 col-xs-12 adjust-header">
            <span class="pficon pficon-network card-pf-icon-circle config-title-icon"></span>{{networkName}} <span class="weight weight-gateway">{{networks[networkName].network}}</span>
          </h1>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 adjust-search adjust-search-gateway">
            <form role="form" class="search-pf has-button" id="form-lg-domains-details">
              <div class="form-group has-clear">
                <div class="search-pf-input-group" id="filter-domains-details">
                  <input ng-model="searchDeviceString" type="text" class="form-control input-lg" placeholder="{{'Search' | translate}}..."></input>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-default btn-lg" type="submit">
                  <span class="fa fa-search"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="list-group-item {{selectedDevice.mac == device.mac ? 'selected' : ''}}" ng-repeat="device in devices | filter:searchDeviceString | orderBy: 'manufacturer'" ng-click="selectDevice(device, networks[networkName])">
          <div class="list-view-pf-actions">
            <div ng-show="device.isInAction" class="spinner spinner-sm adjust-margin"></div>
            <span ng-show="!device.isInAction" popover-placement="top-right" popover-trigger="'mouseenter'" popover-animation="true" uib-popover="{{device.model ? 'Configured' : 'Not configured' | translate}}" class="pficon {{device.model ? 'pficon-ok' : 'pficon-info'}} icon-med"></span>
          </div>
          <div class="list-view-pf-main-info">
            <div class="list-view-pf-left">
              <span class="pficon pficon-container-node list-view-pf-icon-sm {{device.model ? '' : 'disabled'}}"></span>
            </div>
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading {{device.model ? '' : 'disabled'}}">
                  {{device.manufacturer}}
                </div>
                <div class="list-group-item-text">
                  {{getModelDescription(device).description}}
                </div>
              </div>
              <div class="list-view-pf-additional-info config-info {{device.model ? '' : 'disabled'}}">
                <div>IP: <b>{{device.ipv4}}</b></div>
                <div>MAC: <b>{{device.mac}}</b></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 config-adjust-size-gateway" ng-if="!(selectedDevice | isEmpty)">
      <h1 class="control-label config-title-user big-margin-top" for="textInput-markup">
          <span class="pficon pficon-container-node config-title-icon-adjust"></span>
          {{selectedDevice.manufacturer}}
      </h1>
      <form class="form-horizontal config-form-gateway" ng-submit="saveConfig()">
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'Configuration name' | translate}}</label>
          <div class="col-sm-9">
            <input type="text" ng-model="selectedDevice.name" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'Model' | translate}}</label>
          <div class="col-sm-9">
            <select pf-select="{ width: '260px', noneSelectedText: '-' }" ng-model="selectedDevice.model" ng-change="updateExtraFields()" ng-options="m.id as m.description + ' | ' + m.model for m in allModels[selectedDevice.manufacturer]">
                <option value="">-</option>
            </select>

          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'Device IP' | translate}}</label>
          <div class="col-sm-9">
            <input type="text" ng-model="selectedDevice.ipv4" class="form-control" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'MAC address' | translate}}</label>
          <div class="col-sm-9">
            <input type="text" ng-model="selectedDevice.mac" class="form-control" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'Network gateway' | translate}}</label>
          <div class="col-sm-9">
            <input type="text" ng-model="selectedDevice.gateway" class="form-control" disabled>
          </div>
        </div>

        <div class="form-group" ng-repeat="trunk in selectedDevice.trunks_isdn">
          <label class="col-sm-3 control-label">{{'Trunk' | translate}} ISDN {{trunk.name}}</label>
          <div class="col-sm-9">
            <select pf-select ng-model="trunk.type">
              <option value="pmp">{{'Point-MultiPoint' | translate}}</option>
              <option value="pp">{{'Point-Point' | translate}}</option>
            </select>
          </div>
        </div>

        <div class="form-group" ng-repeat="trunk in selectedDevice.trunks_fxo track by $index">
          <label class="col-sm-3 control-label">{{'Port' | translate}} FXO {{$index}}</label>
          <div class="col-sm-4">
            <input type="text" ng-model="trunk.number" class="form-control">
          </div>
          <div class="col-sm-2 gw-form-arrow">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="col-sm-3">
            <span class="control-label">{{'Trunk' | translate}} SIP {{trunk.linked_trunk}}</span>
          </div>
        </div>

        <div class="form-group" ng-repeat="trunk in selectedDevice.trunks_pri track by $index">
          <label class="col-sm-3 col-xs-5 control-label">{{'Port' | translate}} PRI {{$index}}</label>
          <div class="col-sm-1 col-xs-1 gw-form-arrow">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="col-sm-3 col-xs-5">
            <span class="control-label">{{'Trunk' | translate}} SIP {{trunk.linked_trunk}}</span>
          </div>
        </div>

        <div class="form-group" ng-repeat="exten in selectedDevice.extens_fxs track by $index">
          <label class="col-md-3 col-sm-3 col-xs-5 control-label">{{'Port' | translate}} {{$index}}</label>
          <div class="col-md-1 col-sm-1 col-xs-1 gw-form-arrow">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4">
            <span class="control-label">{{'Extension' | translate}} SIP</span>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-12">
            <select pf-select="{ noneSelectedText: '-' }" ng-model="exten.linked_ext">
               <option value="">-</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary col-md-1 right-align">{{'Save' | translate}}</button>
          </div>
        </div>
      </form>
    </div>

    <div ng-if="networks | isEmpty" class="blank-slate-pf ">
      <div class="blank-slate-pf-icon">
        <span class="pficon pficon-network"></span>
      </div>
      <h1>
        Empty State Title
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p>
        Learn more about this <a href="#">on the documentation</a>.
      </p>
    </div>

    <div ng-if="!(networks | isEmpty) && (allDevices | isEmpty: true)" class="blank-slate-pf ">
      <div class="blank-slate-pf-icon">
        <span class="pficon pficon-container-node"></span>
      </div>
      <h1>
        Empty State Title
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p>
        Learn more about this <a href="#">on the documentation</a>.
      </p>
    </div>
  </div>

  <!-- <div class="modal" id="newGwDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{'New Gateway' | translate}}</h4>
        </div>
        <form class="form-horizontal" ng-submit="addNewGw()">
          <div class="modal-body">
            <div class="form-group">
              <label class="col-sm-3 control-label">{{'Vendor' | translate}}</label>
              <div class="col-sm-9">
                <select pf-select ng-model="newGw.vendor" ng-options="o as o for o in vendors" required></select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">{{'Model' | translate}}</label>
              <div class="col-sm-9">
                <select pf-select ng-model="newGw.model" ng-options="o as o.descr for o in models[newGw.vendor].list" required></select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="modalInputDisabled">{{'MAC address' | translate}}</label>
              <div class="col-sm-9">
                <input required type="text" class="form-control" ng-model="newGw.mac"></div>
            </div>
            <div class="form-group ">
              <label class="col-sm-3 control-label" for="modalInputError">IP</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="newGw.ip" required>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close' | translate}}</button>
            <button type="submit" class="btn btn-primary">{{'Save changes' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div> -->

  <wizard-step ng-if="wizard.isWizard"></wizard-step>
</div>