<div class="wizard-pf">
  <div class="wizard-pf-body clearfix">
    <div class="wizard-pf-steps">
      <ul class="wizard-pf-steps-indicator">
        <li class="wizard-pf-step {{resolveActiveTab('physical',2) ? 'active' : ''}}" data-tabgroup="1">
          <a ng-click="goTo('trunks/physical')"><span class="wizard-pf-step-number">1</span><span class="wizard-pf-step-title">{{'Physical' | translate}}</span></a>
        </li>
        <li class="wizard-pf-step {{resolveActiveTab('voip',2) ? 'active' : ''}}" data-tabgroup="2">
          <a ng-click="goTo('trunks/voip')"><span class="wizard-pf-step-number">2</span><span class="wizard-pf-step-title">{{'Voip' | translate}}</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="wizard-pf-contents adjust-size">
    <h1 class="control-label centered" for="textInput-markup">{{'Physical lines configuration' | translate}}</h1>
    <div ng-if="!(networks | isEmpty)" class="container-fluid">
      <div class="col-xs-12 col-sm-6 col-md-{{12/networkLength}} col-lg-{{12/networkLength}}" ng-repeat="(key, network) in networks">
        <div class="card-pf card-pf-view adjust-card">
          <div class="card-pf-body">
            <div class="card-pf-top-element">
              <span class="pficon pficon-network card-pf-icon-circle"></span>
            </div>
            <h2 class="card-pf-title text-center">
              {{key}} | <span class="weight">{{network.network}}</span>
            </h2>
            <div class="card-pf-items text-center">
              <div class="card-pf-item">
                <span class="pficon pficon-screen"></span>
                <span class="card-pf-item-text"><b>{{network.ip}}</b> /<span popover-placement="top" popover-trigger="'mouseenter'" popover-animation="true" uib-popover="{{'Netmask' | translate}}: {{network.netmask}}">{{network.netmask | maskToCidr}}</span></span>
              </div>
            </div>
            <p class="card-pf-info text-center">
              <div class="blank-slate-pf-main-action centered adjust-bottom">
                <button ng-click="startScan(key, network)" class="btn btn-primary btn-lg {{tasks[key].currentProgress > 0 && tasks[key].currentProgress < 100 ? 'disabled' : ''}}">{{'Scan' | translate}}</button>
                <div ng-if="tasks[key].currentProgress < 100 && tasks[key].currentProgress != -1" class="spinner spinner-sm spinner-inline spinner-right"></div>
                <div ng-if="tasks[key].currentProgress == 100 || tasks[key].currentProgress == -1" class="pficon pficon-{{tasks[key].currentProgress == 100 ? 'ok' : 'error-circle-o'}} icon-right"></div>
              </div>
              <div ng-if="tasks[key].startScan" class="progress">
                <div class="progress-bar {{tasks[key].currentProgress == -1 ? 'progress-bar-danger' : 'progress-bar-success'}}" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{tasks[key].currentProgress == -1 ? '100' : tasks[key].currentProgress}}%;">
                  <span>{{tasks[key].currentProgress == -1 ? '100' : tasks[key].currentProgress}}%</span>
                </div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="!(allDevices | isEmpty: true)" class="container-fluid col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <div id="#{{networkName}}" class="list-group list-view-pf list-view-pf-view list-gateway" ng-repeat="(networkName, devices) in allDevices" ng-if="!(devices | isEmpty)">
        <div class="row">
          <h1 class="col-lg-6 col-md-6 col-sm-12 col-xs-12 adjust-header">
            <span class="pficon pficon-network card-pf-icon-circle config-title-icon"></span>{{networkName}} <span class="weight weight-gateway">{{networks[networkName].network}}</span>
          </h1>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 adjust-search adjust-search-gateway">
            <form role="form" class="search-pf has-button" id="form-lg-domains-details">
              <div class="form-group has-clear">
                <div class="search-pf-input-group" id="filter-domains-details">
                  <input ng-model="searchDeviceString" type="text" class="form-control input-lg" placeholder="{{'Search' | translate}}..."></input>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-default btn-lg" type="submit">
                  <span class="fa fa-search"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="list-group-item {{selectedDevice.mac == device.mac ? 'selected' : ''}}" ng-repeat="device in devices | filter:searchDeviceString | orderBy: 'manufacturer'" ng-click="selectDevice(device, networks[networkName], networkName)">
          <div class="list-view-pf-actions">
            <div ng-show="device.isInAction" class="spinner spinner-sm adjust-margin"></div>
            <span ng-show="!device.isInAction" popover-placement="top-right" popover-trigger="'mouseenter'" popover-animation="true" uib-popover="{{device.isConfigured && device.isConnected ? 'Configured and Connected' : device.isConfigured && !device.isConnected ? 'Configured and Not Connected' : 'Not configured' | translate}}"
                class="pficon {{device.isConfigured && device.isConnected ? 'pficon-ok' : device.isConfigured && !device.isConnected ? 'pficon-warning-triangle-o' : 'pficon-info'}} icon-med">
            </span>
            <div ng-if="device.isConfigured" class="dropdown dropdown-kebab-pf right-only">
              <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownKebab">
                <li><a ng-click="downConfig(device)">{{'Download configuration' | translate}}</a></li>
                <li ng-if="selectedDevice.isConfigured && selectedDevice.isConnected"><a data-toggle="modal" data-target="#confirmPushModal">{{'Push configuration on device' | translate}}</a></li>
                <li role="separator" class="divider"></li>
                <li ng-if="selectedDevice.isConfigured"><a data-toggle="modal" data-target="#confirmDeleteModal">{{'Delete configuration' | translate}}</a></li>
              </ul>
            </div>
          </div>
          <div class="list-view-pf-main-info">
            <div class="list-view-pf-left">
              <span class="pficon pficon-container-node list-view-pf-icon-sm {{device.isConfigured ? '' : 'disabled'}}"></span>
            </div>
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading {{device.isConfigured ? '' : 'disabled'}}">
                  {{device.manufacturer}}
                </div>
                <div class="list-group-item-text {{device.isConfigured ? '' : 'disabled'}}">
                  {{getModelDescription(device).description}}
                </div>
              </div>
              <div class="list-view-pf-additional-info config-info {{device.isConfigured ? '' : 'disabled'}}">
                <div>IP: <b>{{device.ipv4 || device.ipv4_new}}</b></div>
                <div>MAC: <b>{{device.mac}}</b></div>
              </div>
            </div>
          </div>
        </div>
        <div class="config-button-list">
          <button ng-disabled="selectedDevice.onSave" ng-click="setNewGateway(networkName, networks[networkName])" class="btn btn-primary" data-toggle="modal" data-target="#newGwDialog">{{'Add gateway' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 config-adjust-size-gateway" ng-if="!(selectedDevice | isEmpty)">
      <div ng-if="selectedDevice.onSaveSuccess" class="alert alert-success alert-dismissable adjust-alert-gateway">
        <button ng-click="close(selectedDevice)" type="button" class="close" data-dismiss="alert" aria-hidden="true">
            <span class="pficon pficon-close"></span>
          </button>
        <span class="pficon pficon-ok"></span>
        <strong>{{'Configuration saved' | translate}}.</strong> {{'Click' | translate}} <b>{{'Push' | translate}}</b> {{'to load configuration on device' | translate}}.
      </div>
      <div ng-if="selectedDevice.onError" class="alert alert-danger alert-dismissable adjust-alert-gateway">
        <button ng-click="close(selectedDevice)" type="button" class="close" data-dismiss="alert" aria-hidden="true">
        <span class="pficon pficon-close"></span>
      </button>
        <span class="pficon pficon-error-circle-o"></span>
        <strong>{{'Configuration error' | translate}}.</strong> {{'Generic error on configuration' | translate}}.
      </div>
      <div ng-if="selectedDevice.onDeleteSuccess" class="alert alert-success alert-dismissable adjust-alert-gateway">
        <button ng-click="close(selectedDevice)" type="button" class="close" data-dismiss="alert" aria-hidden="true">
            <span class="pficon pficon-close"></span>
          </button>
        <span class="pficon pficon-ok"></span>
        <strong>{{'Configuration deleted' | translate}}.</strong> {{'Configuration deleted with success' | translate}}.
      </div>
      <div ng-if="selectedDevice.onPushSuccess" class="alert alert-success alert-dismissable adjust-alert-gateway">
        <button ng-click="close(selectedDevice)" type="button" class="close" data-dismiss="alert" aria-hidden="true">
            <span class="pficon pficon-close"></span>
          </button>
        <span class="pficon pficon-ok"></span>
        <strong>{{'Configuration pushed' | translate}}.</strong> {{'Configuration pushed with success' | translate}}.
      </div>
      <h1 class="control-label config-title-user" for="textInput-markup">
          <span class="pficon pficon-container-node config-title-icon-adjust"></span>
          {{selectedDevice.manufacturer}}
      </h1>
      <form class="form-horizontal config-form-gateway" ng-submit="saveConfig(selectedDevice)">
        <!-- <div class="form-group">
          <label class="col-sm-3 control-label">{{'Configuration name' | translate}}</label>
          <div class="col-sm-9">
            <input type="text" ng-model="selectedDevice.name" class="form-control" placeholder="{{selectedDevice.manufacturer}}-{{'Model'|translate}}" required disabled>
          </div>
        </div> -->
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'Model' | translate}}</label>
          <div class="col-sm-9">
            <select ng-disabled="selectedDevice.isConfigured" required pf-select="{ width: '260px', noneSelectedText: '-' }" ng-model="selectedDevice.model" ng-change="updateExtraFields(selectedDevice)" ng-options="m.id as m.description + ' | ' + m.model for m in allModels[selectedDevice.manufacturer]">
                <option value="">-</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'Device IP' | translate}}</label>
          <div class="col-sm-9">
            <input type="text" ng-model="selectedDevice.ipv4_new" class="form-control" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" ng-disabled="selectedDevice.isConfigured">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'MAC address' | translate}}</label>
          <div class="col-sm-9">
            <input type="text" ng-model="selectedDevice.mac" class="form-control" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">{{'Network gateway' | translate}}</label>
          <div class="col-sm-9">
            <input type="text" ng-model="selectedDevice.gateway" class="form-control" disabled>
          </div>
        </div>

        <div class="form-group" ng-repeat="trunk in selectedDevice.trunks_isdn">
          <label class="col-sm-3 control-label">{{'Port' | translate}} ISDN {{trunk.name}}</label>
          <div class="col-sm-9">
            <select ng-disabled="selectedDevice.isConfigured" pf-select ng-model="trunk.type">
              <option value="pmp">{{'Point-MultiPoint' | translate}}</option>
              <option value="pp">{{'Point-Point' | translate}}</option>
            </select>
          </div>
        </div>

        <div class="form-group" ng-repeat="trunk in selectedDevice.trunks_fxo">
          <label class="col-sm-3 control-label">{{'Port' | translate}} FXO {{trunk.name}}</label>
          <div class="col-sm-4">
            <input ng-disabled="selectedDevice.isConfigured" type="text" ng-model="trunk.number" placeholder="{{'Number'|translate}}" class="form-control">
          </div>
        </div>

        <div class="form-group" ng-repeat="trunk in selectedDevice.trunks_pri">
        </div>

        <div class="form-group" ng-repeat="exten in selectedDevice.users_fxs">
          <label class="col-md-3 col-sm-3 col-xs-5 control-label">{{'Port' | translate}} {{$index}}</label>
          <div class="col-md-1 col-sm-1 col-xs-1 gw-form-arrow">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-4">
            <span class="control-label">{{'Extension' | translate}} SIP</span>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-12">
            <select pf-select="{ noneSelectedText: '-' }" ng-model="exten.linked_user">
               <option value="">-</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <div ng-show="selectedDevice.onSave" class="spinner spinner-sm adjust-margin loader-modal-gateway-not-form"></div>
            <button data-toggle="modal" data-target="#confirmDeleteModal" ng-show="selectedDevice.isConfigured" type="button" ng-disabled="selectedDevice.onSave" class="btn btn-danger col-md-1 right-align">{{'Delete' | translate}}</button>
            <button data-toggle="modal" data-target="#confirmPushModal" ng-show="selectedDevice.isConfigured && selectedDevice.isConnected" type="button" ng-disabled="selectedDevice.onSave" class="btn btn-warning col-md-1 left-align">{{'Push' | translate}}</button>
            <button ng-show="!selectedDevice.isConfigured" ng-disabled="selectedDevice.onSave" type="submit" class="btn btn-primary col-md-1 right-align">{{'Save' | translate}}</button>
          </div>
        </div>
      </form>
    </div>

    <div ng-if="networks | isEmpty" class="blank-slate-pf ">
      <div class="blank-slate-pf-icon">
        <span class="pficon pficon-network"></span>
      </div>
      <h1>
        {{'No networks found' | translate}}
      </h1>
      <p>
        {{'There are problems to get networks configurations' | translate}}
      </p>
    </div>

    <div ng-if="!(networks | isEmpty) && (allDevices | isEmpty: true)" class="blank-slate-pf ">
      <div class="blank-slate-pf-icon">
        <span class="pficon pficon-container-node"></span>
      </div>
      <h1>
         {{ 'No devices found' | translate }}
      </h1>
      <p>
        {{'Check if the devices are connected in your network' | translate}}
      </p>
    </div>
  </div>

  <div class="modal fade" id="newGwDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <span class="pficon pficon-close"></span>
              </button>
          <h4 class="modal-title">{{'New Gateway' | translate}}</h4>
        </div>
        <div ng-if="newGateway.onSaveError" class="alert alert-danger alert-dismissable adjust-alert">
          <button ng-click="close(newGateway)" type="button" class="close" data-dismiss="alert" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
          <span class="pficon pficon-error-circle-o"></span>
          <strong>{{'Configuration error' | translate}}.</strong> {{'Generic error in configuration' | translate}}.
        </div>
        <form class="form-horizontal" ng-submit="saveConfig(newGateway, true)">
          <div class="modal-body">
            <div class="form-group">
              <label class="col-sm-3 control-label">{{'Vendor' | translate}}</label>
              <div class="col-sm-9">
                <select pf-select="{ width: '260px', noneSelectedText: '-' }" ng-model="newGateway.manufacturer" ng-change="updateExtraFields(newGateway)" ng-options="v as v for v in allVendors" required>
                      <option value="">-</option>
                  </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">{{'Model' | translate}}</label>
              <div class="col-sm-9">
                <select pf-select="{ width: '260px', noneSelectedText: '-' }" ng-model="newGateway.model" ng-change="updateExtraFields(newGateway)" ng-options="m.id as m.description + ' | ' + m.model for m in allModels[newGateway.manufacturer]" required>
                  <option value="">-</option>
              </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">{{'Device IP' | translate}}</label>
              <div class="col-sm-9">
                <input type="text" ng-model="newGateway.ipv4_new" class="form-control" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">{{'MAC address' | translate}}</label>
              <div class="col-sm-9">
                <input type="text" ng-model="newGateway.mac" placeholder="00:11:22:AA:BB:CC" class="form-control" required pattern="([0-9a-fA-F][0-9a-fA-F]:){5}([0-9a-fA-F][0-9a-fA-F])$">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">{{'Network gateway' | translate}}</label>
              <div class="col-sm-9">
                <input type="text" ng-model="newGateway.gateway" class="form-control" disabled>
              </div>
            </div>

            <div class="form-group" ng-repeat="trunk in newGateway.trunks_isdn">
              <label class="col-sm-3 control-label">{{'Port' | translate}} ISDN {{trunk.name}}</label>
              <div class="col-sm-9">
                <select pf-select ng-model="trunk.type">
                <option value="pmp">{{'Point-MultiPoint' | translate}}</option>
                <option value="pp">{{'Point-Point' | translate}}</option>
              </select>
              </div>
            </div>

            <div class="form-group" ng-repeat="trunk in newGateway.trunks_fxo">
              <label class="col-sm-3 control-label">{{'Port' | translate}} FXO {{trunk.name}}</label>
              <div class="col-sm-4">
                <input type="text" ng-model="trunk.number" placeholder="{{'Number'|translate}}" class="form-control">
              </div>
            </div>

            <div class="form-group" ng-repeat="trunk in newGateway.trunks_pri">
            </div>

            <div class="form-group" ng-repeat="exten in newGateway.users_fxs">
              <label class="col-md-3 col-sm-3 col-xs-5 control-label">{{'Port' | translate}} {{$index}}</label>
              <div class="col-md-1 col-sm-1 col-xs-1 gw-form-arrow">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-4">
                <span class="control-label">{{'Extension' | translate}} SIP</span>
              </div>
              <div class="col-md-5 col-sm-5 col-xs-12">
                <select pf-select="{ noneSelectedText: '-' }" ng-model="exten.linked_user">
                 <option value="">-</option>
              </select>
              </div>
            </div>
            <div ng-show="newGateway.onSave" class="spinner spinner-sm adjust-margin loader-modal-gateway"></div>
            <div class="modal-footer config-gateway-footer">
              <button ng-click="hideGatewayDialog()" type="button" class="btn btn-default" data-dismiss="modal">{{'Close' | translate}}</button>
              <button ng-disabled="newGateway.onSave" type="submit" class="btn btn-primary">{{'Save' | translate}}</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>

  <wizard-step ng-if="wizard.isWizard"></wizard-step>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="pficon pficon-close"></span>
          </button>
        <h4 class="modal-title" id="myModalLabel">
          {{"Delete configuration" | translate}}
          {{selectedDevice.name}}
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-group medium-font">
          {{ "Are you sure" | translate }} ?
        </div>
      </div>
      <div class="modal-footer submit">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ "Cancel" | translate }}</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteConfig(selectedDevice)">
          {{ "Delete" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmPushModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="pficon pficon-close"></span>
          </button>
        <h4 class="modal-title" id="myModalLabel">
          {{"Push configuration" | translate}} {{'on' | translate}} {{selectedDevice.name}}
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-group medium-font">
          {{ "Are you sure" | translate }} ?
        </div>
      </div>
      <div class="modal-footer submit">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ "Cancel" | translate }}</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="pushConfig(selectedDevice)">
          {{ "Push" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>