<div class="wizard-pf">
  <div class="wizard-pf-body clearfix">
    <div class="wizard-pf-steps">
      <ul class="wizard-pf-steps-indicator">
        <li class="wizard-pf-step {{resolveActiveTab('physical',2) ? 'active' : ''}}" data-tabgroup="1">
          <a ng-click="goTo('trunks/physical')"><span class="wizard-pf-step-number">1</span><span class="wizard-pf-step-title">{{'Physical' | translate}}</span></a>
        </li>
        <li class="wizard-pf-step {{resolveActiveTab('voip',2) ? 'active' : ''}}" data-tabgroup="2">
          <a ng-click="goTo('trunks/voip')"><span class="wizard-pf-step-number">2</span><span class="wizard-pf-step-title">{{'Voip' | translate}}</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="wizard-pf-contents" ng-init="init()">
    <div class="form-group required">
      <div class="row">
        <div class="row">
          <div class="row">
            <h1 class="col-md-4 col-md-offset-4 control-label label-gw-title" for="textInput-markup">{{'Physical lines configuration' | translate}}</h1>
          </div>
        </div>
    </div>

    <div ng-if="!(networks | isEmpty)" class="container-fluid">
      <div class="col-xs-12 col-sm-6 col-md-{{12/networkLength}} col-lg-{{12/networkLength}}" ng-repeat="(key, network) in networks">
        <div class="card-pf card-pf-view adjust-card">
          <div class="card-pf-body">
            <div class="card-pf-top-element">
              <span class="pficon pficon-network card-pf-icon-circle"></span>
            </div>
            <h2 class="card-pf-title text-center">
              {{key}} | <span class="weight">{{network.network}}</span>
            </h2>
            <div class="card-pf-items text-center">
              <div class="card-pf-item">
                <span class="pficon pficon-screen"></span>
                <span class="card-pf-item-text"><b>{{network.ip}}</b> /<span popover-placement="top" popover-trigger="'mouseenter'" popover-animation="true" uib-popover="{{'Netmask' | translate}}: {{network.netmask}}">{{network.netmask | maskToCidr}}</span></span>
              </div>
            </div>
            <p class="card-pf-info text-center">
              <div class="blank-slate-pf-main-action centered adjust-bottom">
                <button ng-click="startScan(key, network)" class="btn btn-primary btn-lg">{{'Start scan' | translate}}</button>
                <div ng-if="tasks[key].currentProgress < 100 && tasks[key].currentProgress != -1" class="spinner spinner-sm spinner-inline spinner-right"></div>
                <div ng-if="tasks[key].currentProgress == 100 || tasks[key].currentProgress == -1" class="pficon pficon-{{tasks[key].currentProgress == 100 ? 'ok' : 'error-circle-o'}} icon-right"></div>
              </div>
              <div ng-if="tasks[key].startScan" class="progress">
                <div class="progress-bar {{tasks[key].currentProgress == -1 ? 'progress-bar-danger' : 'progress-bar-success'}}" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{tasks[key].currentProgress == -1 ? '100' : tasks[key].currentProgress}}%;">
                  <span>{{tasks[key].currentProgress == -1 ? '100' : tasks[key].currentProgress}}%</span>
                </div>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>



















    <!-- gateway list -->
    <div ng-if="props.searched || props.configured" class="row">
      <div class="container-fluid col-xs-12 col-sm-12 col-md-6 col-lg-6 gw-list">
        <div class="list-group list-view-pf list-view-pf-view">
          <div class="list-group-item list-item-gw list-item-gw-{{$index}} {{gw.configured ? '' : 'notConfigured'}} {{$index === 0 ? 'active' : ''}}" ng-repeat="gw in gateways track by $index">
            <div class="list-view-pf-main-info" ng-click="setCurrentGw($index)">
              <div class="list-view-pf-left">
                <span class="fa fa-plane pficon-container-node"></span>
              </div>
              <div class="list-view-pf-body">
                <div class="list-view-pf-description">
                  <div class="list-group-item-heading">{{gw.ip}}</div>
                  <div class="list-group-item-heading">{{gw.mac}}</div>
                  <div class="list-group-item-heading">{{gw.vendor}}</div>
                </div>
              </div>
              <div class="col-md-1">
                <div class="dropdown  dropdown-kebab-pf">
                  <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="fa fa-ellipsis-v"></span>
                  </button>
                  <ul class="dropdown-menu " aria-labelledby="dropdownKebab">
                    <li><a>Another action</a></li>
                    <li><a>Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="deleteGw()">{{'Delete' | translate}}</a></li>
                  </ul>
                </div>
              </div>
              <div ng-show="gw.configured" class="col-md-1">
                <div class="list-view-pf-actions gw-list-icon">
                  <div ng-show="props.saving[gw.mac]" class="spinner spinner-sm adjust-margin ng-hide"></div>
                  <span ng-show="!props.saving[gw.mac]" popover-trigger="'mouseenter'" popover-animation="true" uib-popover="{{'Configured' | translate}}" class="pficon pficon-ok icon-med"></span>
                </div>
              </div>
              <div ng-show="!gw.configured" class="col-md-1">
                <div class="list-view-pf-actions gw-list-icon">
                  <div ng-show="props.saving[gw.mac]" class="spinner spinner-sm adjust-margin ng-hide"></div>
                  <span ng-show="!props.saving[gw.mac]" popover-trigger="'mouseenter'" popover-animation="true" uib-popover="{{'Not configured' | translate}}" class="pficon pficon-info icon-med"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="gw-btn-add">
            <button class="btn btn-primary" ng-click="showNewGwDialog()">{{'Add' | translate}}</button>
          </div>
        </div>
      </div>

      <!-- modal dialog to add new gateway manually -->
      <div class="modal" id="newGwDialog" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{'New Gateway' | translate}}</h4>
            </div>
            <form class="form-horizontal" ng-submit="addNewGw()">
              <div class="modal-body">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">{{'Vendor' | translate}}</label>
                    <div class="col-sm-9">
                      <select pf-select ng-model="newGw.vendor" ng-options="o as o for o in vendors" required></select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">{{'Model' | translate}}</label>
                    <div class="col-sm-9">
                      <select pf-select ng-model="newGw.model" ng-options="o as o.descr for o in models[newGw.vendor].list" required></select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label" for="modalInputDisabled">{{'MAC address' | translate}}</label>
                    <div class="col-sm-9">
                      <input required type="text" class="form-control" ng-model="newGw.mac"></div>
                  </div>
                  <div class="form-group ">
                    <label class="col-sm-3 control-label" for="modalInputError">IP</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" ng-model="newGw.ip" required>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close' | translate}}</button>
                <button type="submit" class="btn btn-primary">{{'Save changes' | translate}}</button>
              </div>
            </form>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- configuration form -->
      <div class="container-fluid col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <form class="form-horizontal" ng-submit="saveConfig()">
          <div class="form-group">
            <h2 class="col-sm-2 control-label">Gateway</h2>
            <div class="col-sm-10">
              <h2 ng-if="currentGw.ip && currentGw.mac && currentGw.vendor">{{currentGw.ip}} | {{currentGw.mac}} | {{currentGw.vendor}}</h2>
              <h2 ng-if="!(currentGw.ip && currentGw.mac && currentGw.vendor)"></h2>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{'Vendor' | translate}}</label>
            <div class="col-sm-9">
              <select pf-select ng-model="currentGw.vendor" disabled>
                <option value="{{v}}" ng-repeat="v in vendors">{{v}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{'Model' | translate}}</label>
            <div class="col-sm-9">
              <select ng-if="currentGw.configured" pf-select ng-model="currentGw.model" disabled>
                <option value="{{mod.model}}" ng-repeat="mod in models[currentGw.vendor].list">{{mod.descr}} ({{mod.code}})</option>
              </select>
              <select pf-select
                      ng-change="updateExtraFields()"
                      ng-if="!currentGw.configured"
                      ng-model="currentGw.model"
                      ng-options="mod as (mod.descr + (mod.code ? ' (' + mod.code + ')' : '') ) for mod in models[currentGw.vendor].list"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{'Configuration name' | translate}}</label>
            <div class="col-sm-9">
              <input type="text" ng-model="currentGw.name" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{'Device IP' | translate}}</label>
            <div class="col-sm-9">
              <input type="text" ng-model="currentGw.ip" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{'Network gateway' | translate}}</label>
            <div class="col-sm-9">
              <input type="text" ng-model="currentGw.gateway" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{'MAC address' | translate}}</label>
            <div class="col-sm-9">
              <input type="text" ng-model="currentGw.mac" class="form-control" disabled>
            </div>
          </div>
          <!-- extra fields isdn -->
          <div ng-if="currentGw.configured" class="form-group" ng-repeat="trunk in currentGw.trunks_isdn">
            <label class="col-sm-3 control-label">{{'Trunk' | translate}} ISDN {{trunk.name}}</label>
            <div class="col-sm-9">
              <select pf-select ng-model="trunk.type" disabled>
                <option value="pmp">{{'Point-MultiPoint' | translate}}</option>
                <option value="pp">{{'Point-Point' | translate}}</option>
              </select>
            </div>
          </div>
          <div ng-if="!currentGw.configured" class="form-group" ng-repeat="trunk in currentGw.trunks_isdn">
            <label class="col-sm-3 control-label">{{'Trunk' | translate}} ISDN {{trunk.name}}</label>
            <div class="col-sm-9">
              <select pf-select ng-model="trunk.type">
                <option value="pmp">{{'Point-MultiPoint' | translate}}</option>
                <option value="pp">{{'Point-Point' | translate}}</option>
              </select>
            </div>
          </div>
          <!-- extra fields fxo -->
          <div ng-if="currentGw.configured" class="form-group" ng-repeat="trunk in currentGw.trunks_fxo track by $index">
            <label class="col-sm-3 control-label">{{'Port' | translate}} FXO {{$index}}</label>
            <div class="col-md-4">
              <input type="text" ng-model="trunk.number" class="form-control" disabled>
            </div>
            <div class="col-md-1 gw-form-arrow">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
            <div class="col-md-3">
              <span class="control-label">{{'Trunk' | translate}} SIP {{trunk.linked_trunk}}</span>
            </div>
          </div>
          <div ng-if="!currentGw.configured" class="form-group" ng-repeat="trunk in currentGw.trunks_fxo track by $index">
            <label class="col-sm-3 control-label">{{'Port' | translate}} FXO {{$index}}</label>
            <div class="col-md-4">
              <input type="text" ng-model="trunk.number" class="form-control">
            </div>
            <div class="col-md-1 gw-form-arrow">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
            <div class="col-md-3">
              <span class="control-label">{{'Trunk' | translate}} SIP {{trunk.linked_trunk}}</span>
            </div>
          </div>
          <!-- extra fields pri -->
          <div ng-if="currentGw.configured" class="form-group" ng-repeat="trunk in currentGw.trunks_pri track by $index">
            <label class="col-sm-3 control-label">{{'Port' | translate}} PRI {{$index}}</label>
            <div class="col-md-1 gw-form-arrow">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
            <div class="col-md-3">
              <span class="control-label">{{'Trunk' | translate}} SIP {{trunk.linked_trunk}}</span>
            </div>
          </div>
          <div ng-if="!currentGw.configured" class="form-group" ng-repeat="trunk in currentGw.trunks_pri track by $index">
            <label class="col-sm-2 control-label">{{'Port' | translate}} PRI {{$index}}</label>
            <div class="col-md-1 gw-form-arrow">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
            <div class="col-md-3">
              <span class="control-label">{{'Trunk' | translate}} SIP {{trunk.linked_trunk}}</span>
            </div>
          </div>
          <!-- extra fields fxs -->
          <div ng-if="currentGw.configured" class="form-group" ng-repeat="exten in currentGw.extens_fxs track by $index">
            <label class="col-sm-3 control-label">{{'Port' | translate}} {{$index}}</label>
            <div class="col-md-1 gw-form-arrow">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
            <div class="col-md-2">
              <span class="control-label">{{'Extension' | translate}} SIP</span>
            </div>
            <div class="col-md-3">
              <select class="col-md-12" pf-select ng-model="exten.linked_ext" disabled>
                <option>{{exten.linked_ext}}</option>
              </select>
            </div>
          </div>
          <div ng-if="!currentGw.configured" class="form-group" ng-repeat="exten in currentGw.extens_fxs track by $index">
            <label class="col-sm-3 control-label">{{'Port' | translate}} {{$index}}</label>
            <div class="col-md-1 gw-form-arrow">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
            <div class="col-md-2">
              <span class="control-label">{{'Extension' | translate}} SIP</span>
            </div>
            <div class="col-md-3">
              <select class="col-md-12" pf-select ng-model="exten.linked_ext">
                <option ng-repeat="ext in extensions">{{ext}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-10 col-sm-10">
              <button type="submit" class="btn btn-primary col-md-1">{{'Save' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <generic-error ng-if="error.show"></generic-error>
  </div>
  <wizard-step ng-if="wizard.isWizard"></wizard-step>
</div>
