<div class="wizard-pf-contents adjust-size no-margin-bottom">
  <h1 class="control-label centered" for="textInput-markup">
    {{ 'Inventory' | translate }}
  </h1>
  <div class="container-fluid mg-top-20">
    <div class="page-help" ng-show="phones.length != 0">
      <p>{{ 'inventory_help_p_1' | translate }}. {{ 'inventory_help_p_2' | translate }}:</p>
      <ul>
        <li>{{ 'inventory_help_li_1' | translate }}</li>
        <li>{{ 'inventory_help_li_2' | translate }}</li>
        <li>{{ 'inventory_help_li_3' | translate }}</li>
      </ul>
    </div>
    <div ng-show="phones.length == 0" class="blank-slate-pf">
      <div class="blank-slate-pf-icon">
        <span class="pficon pficon pficon-add-circle-o"></span>
      </div>
      <h1>
        {{'No phone in inventory' | translate}}
      </h1>
      <p>{{ 'inventory_help_p_1' | translate }}.</p>
      <p>{{ 'inventory_help_p_3' | translate }}</p>
      <div class="blank-slate-pf-main-action">
        <button class="btn btn-lg btn-primary" ng-click="showAddPhonesModal()">{{'Add phones' | translate}}
          ////</button> &nbsp;
        <button class="btn btn-lg btn-primary" ng-click="showScanModal()">{{'Scan a network' | translate}}</button>
        <button class="btn btn-lg btn-primary" ng-click="showPasteModal()">{{'Add with copy/paste' | translate}}</button>
        <button class="btn btn-lg btn-primary" ng-click="showManualModal()">{{'Add manually' | translate}}</button>
      </div>
    </div>
    <div ng-show="phones.length != 0">
      <!-- add phones button //// delete-->
      <div class="form-group">
        <button class="btn btn-lg btn-primary" ng-click="showAddPhonesModal()">{{'Add phones' | translate}}
          ////</button> &nbsp;
        <button class="btn btn-lg btn-primary" ng-click="showScanModal">{{'Scan a network' | translate}}</button>
        <button class="btn btn-lg btn-primary"
          ng-click="showPasteModal()">{{'Add with copy/paste' | translate}}</button>
        <button class="btn btn-lg btn-primary" ng-click="showManualModal">{{'Add manually' | translate}}</button>
      </div>
      <!-- filter phone list -->
      <form role="form" class="search-pf has-button mg-bottom-8">
        <div class="form-group">
          <div class="search-pf-input-group">
            <input ng-model="searchPhoneString" type="text" class="form-control input-lg"
              placeholder="{{ 'Filter phones' | translate }}..."></input>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-default btn-lg" type="submit">
            <span class="fa fa-search"></span>
          </button>
        </div>
      </form>
      <!-- phone list -->
      <div class="list-group list-view-pf clear">
        <div class="list-group-item cursor-default"
          ng-repeat="phone in phones | filter:searchPhoneString | orderBy: 'display_name'">
          <div class="list-view-pf-actions">
            <!-- delete phone -->
            <button type="button" class="btn btn-danger" ng-click="showDeletePhoneModal(phone)" data-toggle="modal"
              data-target="#deletePhoneModal">
              {{ 'Delete' | translate }}
            </button>
          </div>
          <div class="list-view-pf-main-info">
            <div class="list-view-pf-left">
              <span class="fa fa-phone list-view-pf-icon-sm {{phone.model ? '' : 'disabled'}}"></span>
            </div>
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading {{phone.model ? '' : 'disabled'}}">
                  {{ phone.display_name ? phone.display_name : '-'}}
                </div>
                <div class="list-group-item-text">
                  <select pf-select="{ noneSelectedText: '-' }" ng-change="setPhoneModel(phone)"
                    ng-model="phone.modelObj"
                    ng-options="model.display_name for model in filteredModels(phone.mac) | orderBy:orderByValue">
                    <option value="">-</option>
                  </select>
                </div>
              </div>
              <div class="list-view-pf-additional-info config-info {{phone.model ? '' : 'disabled'}}">
                <div>MAC: <b>{{phone.mac}}</b></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- network scan in progress -->
    <div ng-show="networkScans > 0" class="toast-pf toast-pf-top-right alert alert-info">
      <span class="pficon pficon-info"></span>
      <span class="spinner spinner-sm spinner-notification"></span>
      {{ 'Scanning network for phones' | translate }}...
    </div>
    <!-- network scan completed -->
    <div ng-show="networkScanCompleted && networkScans < 1" class="toast-pf toast-pf-top-right alert alert-success">
      <span class="pficon pficon-ok"></span>
      {{ 'Network scan successfully completed' | translate }}
    </div>
    <!-- generic modal used by scanning, copy/paste and manual adding -->
    <div class="modal fade" id="adding-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog width-700">
        <div class="modal-content" id="inv-new-phone-dialog">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close">
              <span class="pficon pficon-close"></span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{'Add phones' | translate}}</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <!-- section showed on copy/paste method -->
              <div ng-show="!showResultsAddPhones && addModalType === 'copypaste'" class="form-group no-margin-bottom">aa
                <!-- paste textarea -->
                <label class="col-sm-4 control-label" for="paste-textarea">
                  <!-- inline help of mac address format -->
                  <i class="fa fa-info-circle pointer"
                    data-toggle="popover"
                    data-html="true"
                    data-title='<div class="inv-style-info-mac">{{ "MAC addresses format" | translate }}</div>'
                    data-placement="bottom"
                    data-trigger="hover click"
                    data-viewport='{ "selector": "#inv-new-phone-dialog", "padding": 10 }'
                    data-content='<div class="inv-style-info-mac">
                      {{ "inv_help_mac_1" | translate }}.
                      {{ "inv_help_mac_2" | translate }}.
                      {{ "inv_help_mac_3" | translate }}.
                    <p>&nbsp;</p><p>{{ "Example" | translate }}:</p>
                    <p><pre>
00:04:13:11:22:31
0C:38:3E:99:88:72
00:15:65:55:55:53
<!-- do not remove this comment -->
00-04-13-11-22-31
0C-38-3E-99-88-72
00-15-65-55-55-53
<!-- do not remove this comment -->
000413112231
0C383E998872
001565555553
                    </pre></p>
                    </div>'>
                  </i>
                  {{ 'Copy a list of MAC addresses and paste it here' | translate }}
                </label>
                <div class="col-sm-8">
                  <!-- maxlength=3600 -> copy/paste max 200 mac at time -->
                  <textarea maxlength='3600' id="paste-textarea" class="form-control pasted-mac-area" ng-model="pastedMacsText"
                    ng-change="parsePastedMacs()"></textarea>
                </div>
              </div>
              <!-- section showed on manual method -->
              <div ng-show="!showResultsAddPhones && addModalType === 'manual'">
                <div class="form-group" ng-class="{ 'has-error': showManualMacError }">
                  <label class="col-sm-4 control-label" for="manual-mac">{{ 'MAC address' | translate }}</label>
                  <div class="col-sm-8">
                    <input type="text" id="manual-mac" name="manualMac" class="form-control" ng-model="manualMac"
                      ng-change="inputMacManualChanged()" maxlength="17">
                    <span ng-show="showManualMacError"
                      class="help-block">{{ 'Invalid MAC address' | translate }}</span>
                    <span ng-show="manualMacUnknownVendor" class="help-block warning">
                      <span
                        class="pficon pficon-warning-triangle-o mg-right-5"></span>{{ 'Unknown vendor' | translate }}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="manual-model">{{ 'Model' | translate }}</label>
                  <div class="col-sm-8">
                    <select class="form-control" pf-select="{ noneSelectedText: '-' }" ng-model="manualModel"
                      ng-options="model.display_name for model in manualFilteredModels | orderBy:orderByValue"
                      ng-disabled="getManualFilteredModelsCount()"
                      id="manual-model">
                      <!-- <option value="">-</option> -->
                    </select>
                  </div>
                </div>
              </div>
              <!-- section showed on scanning method -->
              <div ng-show="!showResultsAddPhones && addModalType === 'scanning'">
                <div class="form-group"
                  ng-class="{ 'has-error': showSelectNetworkToScanError || showNetworkScanInProgressError }">
                  <label class="col-sm-4 control-label" for="manual-model">{{ 'Network to scan' | translate }}</label>
                  <div class="col-sm-8">
                    <select class="form-control" pf-select="{ noneSelectedText: '-' }" ng-model="networkToScan"
                      ng-options="network as (network.name + ' | ' + network.network) for network in networks |   orderBy:orderByValue"
                      ng-change="networkToScanChanged()">
                      <option value="">-</option>
                    </select>
                    <span ng-show="showSelectNetworkToScanError"
                      class="help-block">{{ 'Select a network' | translate }}</span>
                    <span ng-show="showNetworkScanInProgressError"
                      class="help-block">{{ 'This network is already being scanned' | translate }}</span>
                  </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': showNetmaskToScanError }">
                  <label class="col-sm-4 control-label" for="manual-model">{{ 'Netmask' | translate }}</label>
                  <div class="col-sm-8">
                    <input ng-model="networkToScan.netmask" type="text" class="form-control"
                      ng-change="netmaskToScanChanged()"></input>
                    <span ng-show="showNetmaskToScanError"
                      class="help-block">{{ 'Enter a valid netmask' | translate }}</span>
                  </div>
                </div>
              </div>
              <!-- results of add phones operation -->
              <div ng-show="showResultsAddPhones">
                <!-- error notification -->
                <div class="alert alert-danger" ng-show="successfulAddPhones.length == 0">
                  <span class="pficon pficon-error-circle-o"></span>
                  <strong>{{ 'Error' | translate }}:</strong> {{ 'No phones added' | translate }}.
                </div>
                <!-- warning notification -->
                <div class="alert alert-warning" ng-show="successfulAddPhones.length > 0 && failedAddPhones.length > 0">
                  <span class="pficon pficon-warning-triangle-o"></span>
                  <strong>{{ 'Warning' | translate }}:</strong> {{ failedAddPhones.length }}
                  {{ 'phones could not be added' | translate }}.
                </div>
                <!-- success notification -->
                <div class="alert alert-success" ng-show="failedAddPhones.length == 0">
                  <span class="pficon pficon-ok"></span>
                  {{ 'All phones have been successfully added' | translate }}.
                </div>
                <!-- number of phones added -->
                <div class="pasted-mac-indicator">{{ successfulAddPhones.length }}
                  {{ 'phones successfully added' | translate }}</div>
                <div class="results-add-phones">
                  <ul>
                    <li ng-repeat="phone in successfulAddPhones">{{ phone.mac }}</li>
                  </ul>
                </div>
              </div>
              <!-- copy/paste addition: toolbar to apply model to all -->
              <div class="col-sm-12 mg-top-20" ng-show="pastedMacs.length > 0">
                <p class="mg-bottom-15"><label>{{ 'inv_help_mac_4' | translate }}</label></p>
                <select class="mg-right-10"
                  pf-select="{ noneSelectedText: ('Select brand' | translate) }"
                  ng-model="cpAllBrandsValue"
                  ng-change="cpAllBrandsChanged()"
                  ng-disabled="getCpAllBrandsLenght() === 0"
                  ng-options="k as k for (k,v) in cpAllBrands">
                </select>
                <select class="mg-right-10"
                  pf-select="{ noneSelectedText: ('Select model' | translate) }"
                  ng-model="cpAllSelModelsValue"
                  ng-change="cpAllModelsChanged()"
                  ng-disabled="cpAllSelModels.length === 0 || cpAllSelModels === undefined"
                  ng-options="v.name as v.display_name for v in cpAllSelModels">
                </select>
                <button type="button" class="btn btn-default" ng-click="cpApplyAllSelModel()" ng-disabled="cpApplyAllSelModelDisabled">
                  {{ 'Apply' | translate }}
                </button>
              </div>
              <div class="col-sm-12 mg-top-20" ng-show="pastedMacs.length > 0">
                <li class="divider"></li>
              </div>
              <!-- number of phones to add -->
              <div class="col-sm-12 pasted-mac-indicator" ng-show="pastedMacs.length > 0">
                <strong class="float-right">{{ pastedMacs.length }} {{ 'phones' | translate }}</strong>
              </div>
              <!-- phones to add -->
              <div class="pasted-macs col-sm-12">
                <div class="list-group list-view-pf clear">
                  <div class="list-group-item cursor-default form-group no-margin-left-right align-items-stretch"
                    ng-class="{ 'has-error': (showPasteMacError[$index] || macDuplicates.includes(mac)), 'border-top-list': $index == 0 }"
                    ng-repeat="mac in pastedMacs track by $index">
                    <div class="list-view-pf-actions">
                      <!-- delete pasted MAC -->
                      <button type="button" class="btn btn-danger" ng-click="deletePastedMac($index)">
                        {{ 'Delete' | translate }}
                      </button>
                    </div>
                    <div class="list-view-pf-main-info align-items-stretch">
                      <div class="list-view-pf-left">
                        <span
                          class="fa fa-phone list-view-pf-icon-sm {{pastedModels[$index] ? '' : 'disabled'}}"></span>
                      </div>
                      <div class="list-view-pf-body">
                        <div class="list-view-pf-description align-items-stretch">
                          <div class="list-group-item-heading {{pastedModels[$index] ? '' : 'disabled'}}">
                            <!-- MAC -->
                            <input type="text" id="paste-mac-{{$index}}" name="pasteMac{{$index}}" class="form-control"
                              ng-model="pastedMacs[$index]" ng-change="inputMacPasteChanged({{$index}})" maxlength="17">
                            <span ng-show="showPasteMacError[$index]"
                              class="help-block">{{ 'Invalid MAC address' | translate }}</span>
                            <span ng-show="macDuplicates.includes(mac)"
                              class="help-block">{{ 'Duplicated MAC address' | translate }}</span>
                            <span ng-show="pastedMacUnknownVendors[$index]" class="help-block warning">
                              <span
                                class="pficon pficon-warning-triangle-o mg-right-5"></span>{{ 'Unknown vendor' | translate }}</span>
                          </div>
                          <div class="list-group-item-text">
                            <!-- model -->
                            <select class="form-control border-color-bbb" pf-select="{ noneSelectedText: '-' }"
                              ng-model="pastedModels[$index]"
                              ng-options="model.display_name for model in pasteFilteredModels[$index] | orderBy:orderByValue"
                              id="paste-model-{{$index}}">
                              <option value="">-</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel' | translate }}</button>
            <!-- add phones button -->
            <button type="button" class="btn btn-primary" ng-show="!(showResultsAddPhones && pastedMacs.length == 0)"
              ng-click="addPhonesGeneric()">{{ 'Add phones' | translate }}</button>
            <!-- done button -->
            <button type="button" class="btn btn-primary" ng-show="showResultsAddPhones && pastedMacs.length == 0"
              data-dismiss="modal">{{ 'Done' | translate }}</button>
          </div>
        </div>
      </div>
    </div>

    <!-- add phones modal //// todo: delete wizard -->
    <div class="modal" id="add-phone" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg wizard-pf modal-wizard">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close">
              <span class="pficon pficon-close"></span>
            </button>
            <h4 class="modal-title">{{'Add phones' | translate}}</h4>
          </div>
          <div class="modal-body wizard-pf-body clearfix center-v width-100p">
            <div class="wizard-pf-main mg-left-0">
              <!-- step 1 -->
              <div ng-show="addPhonesStep == 1" class="wizard-pf-contents">
                <div class="blank-slate-pf-main-action row card-row">
                  <div class="card-pf option-card width-33p"
                    ng-class="{ 'active-choose-green': addPhonesType === 'scan' }" ng-click="setAddPhonesType('scan')">
                    <div class="blank-slate-pf no-pad margin-top-md white-background">
                      <div class="blank-slate-pf-icon small-size-wizard">
                        <span class="pficon pficon-network"></span>
                      </div>
                      <h3>{{ 'Scan a network' | translate }}</h3>
                    </div>
                  </div>
                  <!-- <div class="card-pf option-card width-33p" ////
                    ng-class="{ 'active-choose-green': addPhonesType === 'paste' }"
                    ng-click="setAddPhonesType('paste')">
                    <div class="blank-slate-pf no-pad margin-top-md white-background">
                      <div class="blank-slate-pf-icon small-size-wizard">
                        <span class="fa fa-paste"></span>
                      </div>
                      <h3>{{ 'Paste a list of MAC addresses' | translate }}</h3>
                    </div>
                  </div> -->
                  <div class="card-pf option-card width-33p"
                    ng-class="{ 'active-choose-green': addPhonesType === 'manual' }"
                    ng-click="setAddPhonesType('manual')">
                    <div class="blank-slate-pf no-pad margin-top-md white-background">
                      <div class="blank-slate-pf-icon small-size-wizard">
                        <span class="pficon pficon-edit"></span>
                      </div>
                      <h3>{{ 'Add phones manually' | translate }}</h3>
                    </div>
                  </div>
                </div>
              </div>
              <!-- step 2 - manual -->
              <div ng-show="addPhonesStep == 2 && addPhonesType === 'manual'" class="wizard-pf-contents">
                <form class="form-horizontal" ng-submit="addPhonesManual()">
                  <div class="form-group" ng-class="{ 'has-error': showManualMacError }">
                    <label class="col-sm-4 control-label" for="manual-mac">{{ 'MAC address' | translate }}</label>
                    <div class="col-sm-8">
                      <input type="text" id="manual-mac" name="manualMac" class="form-control" ng-model="manualMac"
                        ng-change="inputMacManualChanged()" maxlength="17">
                      <span ng-show="showManualMacError"
                        class="help-block">{{ 'Invalid MAC address' | translate }}</span>
                      <span ng-show="manualMacUnknownVendor" class="help-block warning">
                        <span
                          class="pficon pficon-warning-triangle-o mg-right-5"></span>{{ 'Unknown vendor' | translate }}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-4 control-label" for="manual-model">{{ 'Model' | translate }}</label>
                    <div class="col-sm-8">
                      <select class="form-control" pf-select="{ noneSelectedText: '-' }" ng-model="manualModel"
                        ng-options="model.display_name for model in manualFilteredModels | orderBy:orderByValue"
                        id="manual-model">
                        <option value="">-</option>
                      </select>
                    </div>
                  </div>
                  <!-- add phone button -->
                  <div class="form-group">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-sm-8">
                      <button type="submit" class="btn btn-primary wizard-pf-next">
                        <span class="wizard-pf-button-text">
                          {{ 'Add phone' | translate }}
                        </span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- step 2 - scan networks -->
              <div ng-show="addPhonesStep == 2 && addPhonesType === 'scan'" class="wizard-pf-contents">
                <form class="form-horizontal" ng-submit="addPhonesManual()">
                  <div class="form-group"
                    ng-class="{ 'has-error': showSelectNetworkToScanError || showNetworkScanInProgressError }">
                    <label class="col-sm-4 control-label" for="manual-model">{{ 'Network to scan' | translate }}</label>
                    <div class="col-sm-8">
                      <select class="form-control" pf-select="{ noneSelectedText: '-' }" ng-model="networkToScan"
                        ng-options="network as (network.name + ' | ' + network.network) for network in networks | orderBy:orderByValue"
                        ng-change="networkToScanChanged()">
                        <option value="">-</option>
                      </select>
                      <span ng-show="showSelectNetworkToScanError"
                        class="help-block">{{ 'Select a network' | translate }}</span>
                      <span ng-show="showNetworkScanInProgressError"
                        class="help-block">{{ 'This network is already being scanned' | translate }}</span>
                    </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error': showNetmaskToScanError }">
                    <label class="col-sm-4 control-label" for="manual-model">{{ 'Netmask' | translate }}</label>
                    <div class="col-sm-8">
                      <input ng-model="networkToScan.netmask" type="text" class="form-control"
                        ng-change="netmaskToScanChanged()"></input>
                      <span ng-show="showNetmaskToScanError"
                        class="help-block">{{ 'Enter a valid netmask' | translate }}</span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer wizard-pf-footer modal-wizard-footer">
            <!-- next button -->
            <button type="submit" class="btn btn-primary wizard-pf-next" ng-show="addPhonesStep < addPhonesTotalSteps"
              ng-click="addPhonesNextStep()">
              <span class="wizard-pf-button-text">
                {{ 'Next' | translate }}
              </span>
              <span class="i fa fa-angle-right"></span>
            </button>
            <!-- add phones button -->
            <button type="button" class="btn btn-primary wizard-pf-next" ng-show="addPhonesStep == addPhonesTotalSteps"
              ng-click="addPhonesFinish()">
              <span class="wizard-pf-button-text">
                {{ 'Add phones' | translate }}
              </span>
            </button>
            <!-- back button -->
            <button type="button" class="btn btn-default wizard-pf-back" ng-disabled="addPhonesStep == 1"
              ng-click="addPhonesPreviousStep()">
              <span class="i fa fa-angle-left"></span>
              <span class="wizard-pf-button-text">
                {{ 'Back' | translate }}
              </span>
            </button>
            <!-- cancel -->
            <button type="button" class="btn btn-default btn-cancel wizard-pf-cancel wizard-pf-dismiss"
              ng-click="hideAddPhonesModal()">
              {{ 'Cancel' | translate }}
            </button>
            <button type="button"
              class="btn btn-primary hidden wizard-pf-close wizard-pf-dismiss">{{ 'Close' | translate }}</button>
          </div><!-- /.wizard-pf-footer -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- delete phone modal -->
    <div class="modal fade" id="deletePhoneModal" tabindex="-1" role="dialog" aria-labelledby="deletePhoneModal"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <span class="pficon pficon-close"></span>
            </button>
            <h4 class="modal-title">
              {{ 'Delete phone' | translate }}
            </h4>
          </div>
          <form class="form-horizontal">
            <div class="modal-body">
              <div class="alert alert-warning alert-dismissable">
                <span class="pficon pficon-warning-triangle-o"></span>
                <span class="margin-left-5">
                  {{ 'You are about to delete phone' | translate }}{{ phoneToDelete.display_name ? ' ' + phoneToDelete.display_name : ''}}
                  {{ phoneToDelete.mac }}
                </span>
              </div>
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-3 control-label">
                    {{ 'Are you sure' | translate }}?
                  </label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel' | translate }}</button>
              <button type="submit" class="btn btn-danger" ng-click="deletePhone()">
                {{ 'Delete' | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>