<div class="wizard-pf">
  <div class="wizard-pf-body clearfix">
    <div ng-if="wizard.isWizard" class="wizard-pf-steps">
      <ul class="wizard-pf-steps-indicator">
        <li class="wizard-pf-step {{resolveActiveTab('inventory',2) ? 'active' : ''}}" data-tabgroup="1">
          <a ng-click="goTo('devices/inventory')"><span class="wizard-pf-step-number">1</span><span
            class="wizard-pf-step-title">{{'Inventory' | translate}}</span></a>
        </li>
        <li class="wizard-pf-step {{resolveActiveTab('models',2) ? 'active' : ''}}" data-tabgroup="2">
          <a ng-click="goTo('devices/models')"><span class="wizard-pf-step-number">2</span><span
            class="wizard-pf-step-title">{{'Models' | translate}}</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="wizard-pf-contents adjust-size">
    <h1 class="control-label centered" for="textInput-markup">{{'Models' | translate}}</h1>
    <div class="mt-40 mb-10">
      <button data-toggle="modal" data-target="#newModelModal"
        class="btn btn-primary btn-lg">{{'Create new model' | translate}}
      </button>
      <button data-toggle="modal" data-target="#defaultSettingsModal"
        class="btn btn-default btn-lg right-align no-margin ng-binding ng-scope">
        {{"Default settings" | translate}}
      </button>
    </div>
    <div ng-if="!(inventoryModels | isEmpty)" class="container-fluid">
      <div class="list-group list-view-pf adjust-margin-extensions no-border">
        <div ng-repeat="model in inventoryModels track by model.name" class="adjust-profile-margin">
          <div id="accordion-models-{{$index}}">
            <h1 ng-click="checkCurrentModelStatus(model.name)" class="adjust-header adjust-profile-header pointer">
              <span class="fa fa-cube card-pf-icon-circle config-title-icon"></span>{{'Model' | translate}}
              <span class="weight">{{::model.name | translate}}</span>
              <span class="fa fa-angle-down icon-med-reload profile-open-icon"></span>
            </h1>
            <div id="collapse-model-{{$index}}" ng-hide="currentModel.hidden" ng-if="currentModel.name == model.name"
              class="panel-collapse adjust-profile-body model-container">
              <!-- start models templates -->
              <div ng-include="modelsUIUrl"></div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end -->
    <div ng-if="inventoryModels | isEmpty" class="blank-slate-pf ">
      <div class="blank-slate-pf-icon">
        <span class="pficon pficon-users"></span>
      </div>
      <h1>
        {{'No models found' | translate}}
      </h1>
      <div class="blank-slate-pf-main-action">
        <button data-toggle="modal" data-target="#newModelModal"
          class="btn btn-primary btn-lg">{{'Create new model' | translate}}</button>
      </div>
    </div>
  </div>
  <!-- <wizard-step ng-if="wizard.isWizard" id="wizardStepBase"></wizard-step> -->
</div>

<div class="modal fade" id="newModelModal" tabindex="-1" role="dialog" aria-labelledby="nModelMLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title" id="nModelMLabel">{{'New model' | translate}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="">
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Name' | translate}}</label>
            <div class="col-sm-9">
              <input required type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput2-modal-markup">{{'Duplicate from' | translate}}</label>
            <div class="col-sm-9">
              <select class="combobox form-control" autocomplete="off">
                <option value="{{count}}" ng-repeat="count in [] | range: 10 track by count"
                  on-finish-render="selectpickerRepeatEnd">{{"CIAO" | translate}}</option>
              </select>
            </div>
          </div>
          <div ng-if="false" class="spinner spinner-sm adjust-margin loader-modal-profile"></div>
        </div>
        <div class="modal-footer submit">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button type="submit" class="btn btn-primary">{{'Save' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modelChangeConfirm" tabindex="-1" role="dialog" aria-labelledby="modelChangeConfirm"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title" id="nModelMLabel">{{"Changes not saved" | translate}}</h4>
      </div>
      <form class="form-horizontal mt-10" ng-submit="onModelSetContinue()">
        <div class="modal-body">
          <div class="alert alert-warning">
            <span class="pficon pficon-warning-triangle-o"></span>
            <strong>
              {{"Changes on the current model will be lost" | translate}}.
            </strong>
            <p>
              {{"Save the changes before continuing" | translate}}?
            </p>
          </div>
        </div>
        <div class="modal-footer submit">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button type="submit" class="btn btn-primary">{{'Continue' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="defaultSettingsModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="wizard-modal">
    <div class="modal-dialog wizard-pf margin-10">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="pficon pficon-close"></span>
          </button>
          <h4 class="modal-title" id="dfSettingsMLabel">{{'Default Settings' | translate}}</h4>
        </div>
        <form class="form-horizontal">
          <div class="modal-body">
            <div class="col-lg-12 mb-30 mt-20">
              
              <div ng-repeat="item in globalUi.data track by $index"
                class="col-lg-6 mb-15 ">
                <div class="col-lg-12">
                  <!-- list -->
                  <div ng-if="item.type == 'list'" class="form-group">
                    <label class="control-label">{{::item.description | translate}}</label>
                    <select class="combobox form-control" autocomplete="off" name="{{item.variable}}">
                      <option ng-if="item.options.length > 10" value="" selected="selected">{{('Select ') | translate}} {{::item.text | translate}}</option>
                      <!-- combobox -->
                      <option ng-if="item.options.length > 10" ng-repeat="option in item.options"
                        value="{{$index}}" on-finish-render="comboboxRepeatEnd">{{::option.text | translate}}</option>
                      <!-- selectpicker -->
                      <option ng-if="item.options.length <= 10" ng-repeat="option in item.options"
                        value="{{$index}}" on-finish-render="selectpickerRepeatEnd">{{::option.text | translate}}</option>
                    </select>
                  </div>
                  <!-- input -->
                  <div ng-if="item.type == 'input'" class="form-group">
                    <label class="control-label">{{::item.description | translate}}</label>
                    <input placeholder="{{'Insert ' | translate}} {{::item.description | translate}}"
                      type="text" class="form-control">
                    </input>
                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer submit">
              <button type="button" class="btn btn-default" data-dismiss="modal">{{'Cancel' | translate}}</button>
              <button type="submit" class="btn btn-primary">{{'Save' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


  